- content_for :title do
  Sidebars

.row
  .small-12.columns
    %h1
      Sidebars
      - if can? :create, @sidebar
        %small
          = link_to "<i class='fi-plus'></i>".html_safe, new_sidebar_path

.row
  .medium-3.columns.show-for-medium-up
    %ul.side-nav
      - @sidebars.each do |sidebar|
        %li
          %a{href: "#sidebar-#{sidebar.id}"}= sidebar.title
  .small-12.medium-9.columns{role: "content"}
    - @sidebars.each do |sidebar|

      %article
        %a{name: "sidebar-#{sidebar.id}"}
        %h3
          = link_to sidebar.title, sidebar_path(sidebar)
          - if can? :create, @sidebar
            %small
              = link_to "<i class='fi-pencil'></i>".html_safe, edit_sidebar_path(sidebar)
        = markdown(text_replace_tokens(sidebar.content.lines[0].to_s))
        %hr/
