  <%- model_class = Talent -%>
<div class="page-header">
  <h1><%=t '.title', :default => 'Talents' %></h1>
</div>

<% @talents.each do |talent| %>
  <div class="well well-small">
    <h4><%= talent.name %></h4>
    <strong>Activation:</strong> <%= talent.activation %><br  />
    <strong>Ranked:</strong> <%= talent.ranked? ? 'Yes' : 'No' %><br  />
    <% 
      trees = TalentTree.find(:all, :conditions => ['talent_1_1 = :talent OR talent_1_2 = :talent OR talent_1_3 = :talent OR talent_1_4 = :talent OR talent_2_1 = :talent OR talent_2_2 = :talent OR talent_2_3 = :talent OR talent_2_4 = :talent OR talent_3_1 = :talent OR talent_3_2 = :talent OR talent_3_3 = :talent OR talent_3_4 = :talent OR talent_4_1 = :talent OR talent_4_2 = :talent OR talent_4_3 = :talent OR talent_4_4 = :talent OR talent_5_1 = :talent OR talent_5_2 = :talent OR talent_5_3 = :talent OR talent_5_4 = :talent', {:talent => "#{talent.id}"}]) 
      used_in_trees = Array.new
      trees.each do |tree|
        unless tree.career_id.nil?
          career = Career.find_by_id(tree.career_id)
          logger.debug(career.inspect)
          unless career.nil?
            used_in_trees << link_to(tree.name, career_path(career.id, :anchor => tree.name))
          end
        end
      end
    %>
    <strong>Trees:</strong> <%= used_in_trees.join(', ').html_safe %><br  />
    <%= text_replace_tokens(talent.description) %><br />
    </div>
<% end %>

