<%- model_class = Armor -%>
<div class="row">
  <div class="small-12 columns">
    <h1>Armor</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:defense) %></th>
          <th><%= model_class.human_attribute_name(:soak) %></th>
          <th><%= model_class.human_attribute_name(:price) %></th>
        </tr>
      </thead>
      <tbody>
        <% @armor.each do |armor| %>
          <tr>
            <td><%= link_to armor.name, armor_path(armor) %></td>
            <td><%= armor.defense %></td>
            <td><%= armor.soak %></td>
            <td><%= armor.price %></td>
          </tr>
        <% end %>
    </tbody>
    </table>
  </div>
</div>
