.row
  .medium-12.columns
    %h1= "Adventure Log for #{@character.name}"
.row
  .medium-12.columns
    = render :partial => 'characters/character_edit_menu'
.row
  .small-12.columns
    %p= link_to "<i class='fi-plus'>New entry</i>".html_safe, new_character_adventure_log_path
    %table
      %thead
        %th Date
        %th Details
        %th Exp. earned
        %th
      %tbody
        - @character.adventure_logs.each do |log|
          %tr
            %td
              %strong= log.date.strftime("%m/%d/%Y") unless log.date.nil?
            %td= markdown(log.log)
            %td= log.experience
            %td
              = link_to "<i class='fi-pencil'></i>".html_safe, [:edit, @character, log] if log.user_id == @character.user_id
              = link_to "<i class='fi-trash'></i>".html_safe, character_adventure_log_path(@character, log), :method => :delete, data: { confirm: 'Are you sure?' }, :style => 'color: #FF0000;' if log.user_id == @character.user_id
