<%- model_class = Gear -%>
<div class="row">
  <div class="small-12 columns">
    <h1>Equipment</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">

<table>
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
    </tr>
  </thead>
  <tbody>
    <% @gear.each do |gear| %>
      <tr>
        <td><%= link_to gear.name, gear_path(gear) %></td>
        <td><%= gear.description %></td>
        <td><%= gear.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>