<% unless f.object.weapon_id.nil? %>
  <% @weapon = Weapon.find_by_id(f.object.weapon_id) %>
  <%= f.hidden_field :weapon_id %>
  <% unless @weapon.name == 'Unarmed' %>
    <% weapon_price = @weapon.price %>
    <% f.object.character_weapon_attachments.each do |caa| %>
      <% weapon_price +=  caa.weapon_attachment.price %>
    <% end -%>

    <li class="nested-fields">
      <ul class="pricing-table">
        <li class="title"><%= @weapon.name %></li>
        <li class="price"><%= image_tag("credit_symbol.png", :class => "credit-icon", :title => "Credits")%> <%=weapon_price %></li>
        <li class="description"><%= text_replace_tokens(@weapon.description).html_safe %></li>
        <li class="description">
          <%= f.text_area :description, :placeholder => "Write your own description of your weapon, such as make and model, color, or anything else that might make this weapon personal." %>
          <%= f.check_box :equipped %>
          <%= f.label :equipped %>
          <%= f.check_box :carried %>
          <%= f.label :carried %>
        </li>
        <% unless @weapon.weapon_models.blank? %>
          <li class="bullet-item"><%= f.select :weapon_model_id, @weapon.weapon_models.collect {|model| ["#{model.name}", model.id]}, {:prompt => "Select Model"} %></li>
        <% end -%>
        <li class="bullet-item"><%= @weapon.skill.name unless @weapon.skill.nil? %></li>
        <li class="bullet-item">Range: <%= @weapon.range %></li>
        <li class="bullet-item">Damage: <%= @weapon.damage %></li>
        <li class="bullet-item">Crit rating: <%= @weapon.crit %></li>
        <li class="bullet-item">Enc: <%= @weapon.encumbrance %></li>
        <li class="bullet-item">Rarity: <%= @weapon.rarity %></li>
        <li class="bullet-item"><%= render "weapons/weapon_qualities", :qualities => @weapon.weapon_quality_ranks %></li>
        <% unless f.object.character_weapon_attachments.blank? %>
          <li class="title">Attachments</li>
          <% f.object.character_weapon_attachments.each do |caa| %>
            <li class="bullet-item">
              <%= caa.weapon_attachment.name %>
              <% unless caa.weapon_attachment_modification_options.blank? %>
              <ul style="font-size: 10px;">
                <% caa.weapon_attachment_modification_options.each do |option| %>
                  <% modification_option = WeaponAttachmentModificationOption.find(option) %>
                  <% unless modification_option.talent_id.nil? %>
                    <li>Innate talent: <%= Talent.find(modification_option.talent_id).name %></li>
                  <% end -%>
                  <% unless modification_option.skill_id.nil? %>
                    <li>Skill bonus: <%= Skill.find(modification_option.skill_id).name %></li>
                  <% end -%>
                  <% unless modification_option.weapon_quality_id.nil? %>
                    <li>Weapon Quality: <%= WeaponQuality.find(modification_option.weapon_quality_id).name %><% if modification_option.weapon_quality_rank > 0 %> +<%= modification_option.weapon_quality_rank %><% end %><% if modification_option.weapon_quality_rank < 0 %> <%= modification_option.weapon_quality_rank %><% end %></li>
                  <% end -%>
                  <% unless modification_option.damage_bonus.nil? %>
                    <li>Damage bonus: +<%= modification_option.damage_bonus %></li>
                  <% end -%>
                  <% unless modification_option.custom.blank? %>
                    <li><%= modification_option.custom %></li>
                  <% end -%>
                <% end -%>
              </ul>
              <% end -%>
            </li>
          <% end %>
        <% end %>
        <% unless @weapon.hard_points.blank? %>
          <li class="cta-button"><%= link_to "Manage attachment", "weapon/#{f.object.id}/attachments", :class => "button tiny" %></li>
        <% end -%>
        <li class="cta-button"><%= link_to_remove_association "remove", f, :class => 'button tiny alert' %></li>
      </ul>
    </li>
  <% end %>
<% else %>
  <li>
    <%
      grouped_options = Array.new
      WeaponCategory.where(:true).order(:name).each do |cat|
        grouped_options << [cat.name.pluralize, Weapon.where(:weapon_category_id => cat.id).where.not(name: 'Unarmed').order(:name).collect { |weapon| ["#{weapon.name} - #{weapon.price}", weapon.id]}]
      end
    %>
    <%= f.select :weapon_id, grouped_options_for_select(grouped_options), {:prompt => "Select Weapon"} %>
    <%= f.text_area :description, :placeholder => "Write your own description of your weapon, such as make and model, color, or anything else that might make this weapon personal." %>
    <%= f.check_box :equipped %>
    <%= f.label :equipped %>
    <%= f.check_box :carried, :checked => 'checked' %>
    <%= f.label :carried %>
  </li>
<% end %>

