<div class="row">
  <div class="small-12 columns">
    <h1><%=t '.title', :default => "Manage equipped weapons for #{@character.name}" %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= render :partial => 'characters/character_edit_menu' %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="panel">
      Check the Equipped check box to mark a weapon as worn by the character, ready to be drawn in combat. Equipped weapons will be shown with combat details on the character sheet.<br/>
      Check the Carried checkbox to mark an item as placed on the character's person and account for in calculating encumbrance. Leave unchecked if it's an item owned by the character but located somewhere such as on the group's ship. Equipped also counts as carried.
    </div>
  </div>
</div>
<%= form_for [current_user, @character] do |character_form| %>
  <%= character_form.hidden_field :id %>
   <div id="character-weapons" class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3" id="item-grid">
        <%= character_form.fields_for :character_weapons do |weapon| %>
          <%= render 'character_weapon_fields', :f => weapon %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= link_to_add_association 'Add new weapon', character_form, :character_weapons, 'data-association-insertion-node' => "#item-grid", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|weapon| weapon.build_weapon; weapon }, :class => 'button success small' %>
      <%= hidden_field_tag 'destination', 'weapons' %>
      <%= character_form.submit 'Save weapons', :class => 'button small' %>
    </div>
  </div>
<% end %>

