<div class="row">
  <div class="small-12 columns">
    <h1><%=t '.title', :default => "Modifying #{@weapon.name}" %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= render :partial => 'characters/character_edit_menu' %>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-3 columns">
    <%= form_for :character_weapon_attachment do |f| %>
      <% if @weapon.hard_points > 0 %>
        <% if @weapon.attachments.any? %>
          <%= f.select :weapon_attachment_id, @weapon.attachments.collect  {|attachment| ["#{attachment.name} - #{attachment.hard_points} hp - price: #{attachment.price}", attachment.id]}, {:prompt => "Add Attachment"} %>
        <% else %>
          <%= f.select :weapon_attachment_id, WeaponAttachment.where(:true).collect  {|attachment| ["#{attachment.name} - #{attachment.hard_points} hp - price: #{attachment.price}", attachment.id]}, {:prompt => "Add Attachment"} %>
        <% end %>
      <% end %>
      <br />
      <div class="row">
        <div id="attachment-info" class="small-12 columns"></div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <%= f.text_field :custom_name, :value => @character_weapon.custom_name, :placeholder => "Give it a name and make it your own." %>
          <%= f.label :description, 'Custom description' %>
          <%= f.text_area :description, :rows => 10, :value => @character_weapon.description, :placeholder => "Write your own description of your weapon, such as make and model, color, or anything else that might make this weapon personal." %>
          <% unless @weapon.weapon_models.blank? %>
            <%= f.select :weapon_model_id, @weapon.weapon_models.collect {|model| ["#{model.name}", model.id]}, {:prompt => "Select Model", :selected => @character_weapon.weapon_model_id} %>
          <% end %>
          <%= f.submit 'Save changes', :class => 'button tiny' %>
          <%= link_to "Back", user_character_weapons_path(current_user, @character), :class => "button secondary tiny" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="small-12 medium-9 columns">
    <% if @weapon.hard_points == 0 %>
      <div class="small-12 columns">
        <div data-alert class="alert-box warning round">
          This weapon does not have any hard points for attachments.
        </div>
      </div>
    <% else %>
      <h4>Attachments on item <small><%= "#{@weapon.hard_points-@hard_points_used} available hard points left out of #{@weapon.hard_points}" %></small></h4>
      <div class="row">
        <div class="small-12 columns">
          <div class="progress round <%= @hard_point_meter_class %>">
            <span class="meter" style="text-align: center;width: <%= @hard_point_meter > 100 ? 100 : @hard_point_meter %>%"></span>
          </div>
        </div>
      </div>
    <% end %>
    <% unless @weapon_attachments.blank? %>
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2" id="item-grid" data-no-turbolink>
        <% @weapon_attachments.each do |aa| %>
          <% if aa.weapon_attachment_id %>
            <% attachment = WeaponAttachment.find(aa.weapon_attachment_id) %>
            <li><%= render :partial => "weapon_attachments/weapon_attachment_info", :locals => { :attachment => attachment, :character_attachment_id => aa.id, :active => :true, :weapon_attachment_options => aa } %></li>
          <% end %>
        <% end -%>
      </ul>
    <% end %>
  </div>
</div>
