<% if active %>
  <% unless character_obligation.obligation.nil? %>
    <h4><%= character_obligation.obligation.name %><%= " <small>[#{character_obligation.obligation.career.name}]</small>".html_safe unless character_obligation.obligation.career.nil? %></h4>
    <%= form_for :character_obligation, :url => { :action => 'update_obligation'} do |form| %>
      <%= form.hidden_field :character_obligation_id, :value => character_obligation.id %>
      <%= form.text_area :description, :value => character_obligation.description %>
      <%= form.number_field :magnitude, :value => character_obligation.magnitude, :min => 0, :step => 1 %>
      <%= form.submit 'Update obligation', :class => 'button tiny' %>
      <%= link_to "Remove", "obligation/#{character_obligation.id}/remove", :class => 'button tiny alert',data: { confirm: 'Really delete obligation?' } %>
    <% end -%>
    <hr />
  <% end -%>
<% else %>
  <h4><%= obligation.name %></h4>
  <p><%= text_replace_tokens(obligation.description) %></p>
<% end -%>
