<div class="row">
  <div class="medium-12 columns">
    <h1><%=t '.title', :default => "Manage equipment for #{@character.name}" %></h1>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <%= render :partial => 'characters/character_edit_menu' %>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <h5>Add general item</h5>
    <%= form_for :character_gears do |f| %>
      <%#= f.select :gear_id, Gear.where(:true).collect  {|gear| ["#{gear.name}", gear.id]}, {:prompt => "Select Item"} %>
      <%
        grouped_options = Array.new
        GearCategory.where(:true).each do |cat|
          grouped_options << [cat.name, Gear.where(:gear_category_id => cat.id).collect { |gear| ["#{gear.name} - #{gear.price}", gear.id]}]
        end
      %>
      <%= f.select :gear_id, grouped_options_for_select(grouped_options), {:prompt => "Select Item"} %>

      <div class="row">
        <div class="small-12 columns">
          <div id="item-info"></div>
        </div>
      </div>
       <div class="row">
        <div class="small-6 columns">
          <%= f.check_box :carried, {checked: true} %>
          <%= f.label :carried %>
        </div>
        <div class="small-6 columns">
          <label>Quantity</label><%= f.number_field :qty, :min => 1, :value => 1 %>
        </div>
      </div>
       <div class="row">
        <div class="small-12 columns">
          <%= f.submit 'Add Item', :class => 'button tiny' %>
        </div>
      </div>
    <% end %>
    <hr />
    <h5>Add custom item</h5>
    <%= form_for :character_custom_gears do |f| %>
      <div class="row">
        <div class="small-12 columns">
          <%= f.label :description %>
          <%= f.text_field :description %>
          <%= f.check_box :carried, {checked: true} %>
          <%= f.label :carried %>
        </div>
      </div>
       <div class="row">
        <div class="small-6 columns">
          <%= f.label :encumbrance %>
          <%= f.number_field :encumbrance, :min => 0, :value => 0 %>
        </div>
        <div class="small-6 columns">
          <label>Quantity</label><%= f.number_field :qty, :min => 1, :value => 1 %>
        </div>
      </div>
       <div class="row">
        <div class="small-12 columns">
          <%= f.submit 'Add Item', :class => 'button tiny' %>
        </div>
      </div>
    <% end %>

  </div>
  <div class="small-9 columns">
    <div class="row">
      <div class="small-12 columns">
        <table class="responsive" style="width:100%">
          <thead>
            <th>Item</th>
            <th>Encumbrance</th>
            <th width="90px">Quantity</th>
            <th></th>
          </thead>
          <tbody id="item-grid">
            <% @character.inventory({:type => ['gear']}).each do |item| %>
             <%= render :partial => 'character_gear_fields', :locals => { :item => item } %>
            <% end %>
          </tbody>
        </table>
        <caption><small>Check the Carried checkbox to mark an item as placed on the character's person and account for in calculating encumbrance. Leave unchecked if it's an item owned by the character but located somewhere such as on the group's ship.</caption>
      </div>
    </div>
  </div>
</div>
