.fields

  /- if (f.object.stat_bonus.nil? and f.object.created_at.nil?) or !f.object.stat_bonus.nil?
  /  .row
  /    .small-4.columns
  /      = f.label :stat_bonus, :class => 'inline left'
  /    .small-7.columns
  /      = f.input :stat_bonus, label: false
  /    .small-1.columns
  /      = f.hidden_field :_destroy
  /      = link_to "<i class='fi-trash'></i>".html_safe, '', :onclick => "remove_fields(this);return false;"

  /- if (f.object.armor_quality_id.nil? and f.object.created_at.nil?) or !f.object.armor_quality_id.nil?
  /  .row
  /    .small-2.columns
  /      = f.label :armor_quality_id, "Quality", :class => 'inline left'
  /    .small-5.columns
  /      = f.input :armor_quality_id, :as => :select, :collection => ArmorQuality.all, label: false
  /    .small-2.columns
  /      = f.label :armor_quality_rank, "Rank", :class => 'inline right'
  /    .small-2.columns
  /      = f.input :armor_quality_rank, label: false
  /    .small-1.columns
  /      = f.hidden_field :_destroy
  /      = link_to "<i class='fi-trash'></i>".html_safe, '', :onclick => "remove_fields(this);return false;"

  /- if (f.object.custom.blank? and f.object.created_at.nil?) or !f.object.custom.blank?
  /  .row
  /    .small-2.columns
  /      = f.label :custom, :class => 'inline left'
  /    .small-9.columns
  /      = f.input :custom, :class => 'inline right', label: false
  /    .small-1.columns
  /      = f.hidden_field :_destroy
  /      = link_to "<i class='fi-trash'></i>".html_safe, '', :onclick => "remove_fields(this);return false;"

  - if (f.object.skill_id.nil? and f.object.created_at.nil?) or !f.object.skill_id.nil?
    .row
      .small-2.columns
        = f.label :skill_id, :class => 'inline left'
      .small-9.columns
        = f.input :skill_id, :as => :select, :collection => Skill.all, label: false
      .small-1.columns
        = f.hidden_field :_destroy
        = link_to "<i class='fi-trash'></i>".html_safe, '', :onclick => "remove_fields(this);return false;"

  - if (f.object.talent_id.nil? and f.object.created_at.nil?) or !f.object.talent_id.nil?
    .row
      .small-2.columns
        = f.label :talent_id, :class => 'inline left'
      .small-9.columns
        = f.input :talent_id, :as => :select, :collection => Talent.all, label: false
      .small-1.columns
        = f.hidden_field :_destroy
        = link_to "<i class='fi-trash'></i>".html_safe, '', :onclick => "remove_fields(this);return false;"
  %hr