<div class="row">
  <div class="small-12 columns">
    <h1><%=t '.title', :default => 'Species' %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Wound</th>
          <th>Strain</th>
          <th>Br/Cu/Pr/Ag/In/Wi</th>
        </tr>
      </thead>
      <tbody>
        <% @races.each do |race| %>
          <tr>
            <td><%= link_to race.name, race_path(race) %></td>
            <td><%= race.wound_threshold %></td>
            <td><%= race.strain_threshold %></td>
            <td><%= race.brawn %> / <%= race.cunning %> / <%= race.presence %> / <%= race.agility %> / <%= race.intellect %> / <%= race.willpower %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
