  <%- model_class = Race -%>
<div class="page-header">
  <h1><%=t '.title', :default => 'Species' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:wound_threshold) %></th>
      <th><%= model_class.human_attribute_name(:strain_threshold) %></th>
      <th><%= model_class.human_attribute_name(:starting_experience) %></th>
      <th><%= model_class.human_attribute_name(:brawn) %></th>
      <th><%= model_class.human_attribute_name(:cunning) %></th>
      <th><%= model_class.human_attribute_name(:presence) %></th>
      <th><%= model_class.human_attribute_name(:agility) %></th>
      <th><%= model_class.human_attribute_name(:intellect) %></th>
      <th><%= model_class.human_attribute_name(:willpower) %></th>
      <th><%#=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @races.each do |race| %>
      <tr>
        <td><%= race.name %></td>
        <td><%= race.description %></td>
        <td><%= race.wound_threshold %></td>
        <td><%= race.strain_threshold %></td>
        <td><%= race.starting_experience %></td>
        <td><%= race.brawn %></td>
        <td><%= race.cunning %></td>
        <td><%= race.presence %></td>
        <td><%= race.agility %></td>
        <td><%= race.intellect %></td>
        <td><%= race.willpower %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      race_path(race), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
