<%- model_class = Race -%>
<div class="page-header">
  <h1><%=t '.title', :default => @race.name %></h1>
</div>

<p><%= @race.description.gsub("\n", "<br />").html_safe %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:brawn) %></th>
      <th><%= model_class.human_attribute_name(:cunning) %></th>
      <th><%= model_class.human_attribute_name(:presence) %></th>
      <th><%= model_class.human_attribute_name(:agility) %></th>
      <th><%= model_class.human_attribute_name(:intellect) %></th>
      <th><%= model_class.human_attribute_name(:willpower) %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @race.brawn %></td>
      <td><%= @race.cunning %></td>
      <td><%= @race.presence %></td>
      <td><%= @race.agility %></td>
      <td><%= @race.intellect %></td>
      <td><%= @race.willpower %></td>
    </tr>
  </tbody>
</table>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:wound_threshold) %></th>
      <th><%= model_class.human_attribute_name(:strain_threshold) %></th>
      <th><%= model_class.human_attribute_name(:starting_experience) %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @race.wound_threshold %></td>
      <td><%= @race.strain_threshold %></td>
      <td><%= @race.starting_experience %></td>
    </tr>
  </tbody>
</table>

<h4><%= model_class.human_attribute_name(:special_ability) %></h4>
<% unless @race.skills.nil? %>
  <% @race.race_skills.each do |race_skill| %>
    <p>Add <%= pluralize(race_skill.ranks, 'rank') %> in <%= race_skill.skill.name %> skill.</p>
  <% end %>
<% end %>
<% unless @race.talents.nil? %>
  <% @race.race_talents.each do |race_talent| %>
    <p>Add <%= pluralize(race_talent.ranks, 'rank') %> in <%= race_talent.talent.name %> talent.</p>
  <% end %>
<% end %>
<p><%= text_replace_tokens(@race.special_ability.gsub("\n", "<br />")).html_safe %></p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              races_path, :class => 'btn'  %>
</div>
