- content_for :title do
  = @career.name

.row
  .small-12.columns
    %h1= @career.name

.row
  .small-12.columns
    %p= @career.description.html_safe

    %h2 Specializations
    - @career.talent_trees.each_with_index do |tree, i|
      .row
        .small-12.columns
          %a{:name => tree.name}
          %h4= tree.name
          %p= tree.description.html_safe

          %ul.small-block-grid-4.talent-tree
            = render :partial => 'talent_trees/talent_tree_box', :locals => { :talent_tree => tree, :row => 1, :column => 1} unless tree.talent_1_1.nil?
            = render :partial => 'talent_trees/talent_tree_box', :locals => { :talent_tree => tree, :row => 1, :column => 2} unless tree.talent_1_2.nil?
            = render :partial => 'talent_trees/talent_tree_box', :locals => { :talent_tree => tree, :row => 1, :column => 3} unless tree.talent_1_3.nil?
            = render :partial => 'talent_trees/talent_tree_box', :locals => { :talent_tree => tree, :row => 1, :column => 4} unless tree.talent_1_4.nil?
            = render :partial => 'talent_trees/talent_tree_box', :locals => { :talent_tree => tree, :row => 2, :column => 1} unless tree.talent_2_1.nil?
            = render :partial => 'talent_trees/talent_tree_box', :locals => { :talent_tree => tree, :row => 2, :column => 2} unless tree.talent_2_2.nil?
            = render :partial => 'talent_trees/talent_tree_box', :locals => { :talent_tree => tree, :row => 2, :column => 3} unless tree.talent_2_3.nil?
            = render :partial => 'talent_trees/talent_tree_box', :locals => { :talent_tree => tree, :row => 2, :column => 4} unless tree.talent_2_4.nil?
            = render :partial => 'talent_trees/talent_tree_box', :locals => { :talent_tree => tree, :row => 3, :column => 1} unless tree.talent_3_1.nil?
            = render :partial => 'talent_trees/talent_tree_box', :locals => { :talent_tree => tree, :row => 3, :column => 2} unless tree.talent_3_2.nil?
            = render :partial => 'talent_trees/talent_tree_box', :locals => { :talent_tree => tree, :row => 3, :column => 3} unless tree.talent_3_3.nil?
            = render :partial => 'talent_trees/talent_tree_box', :locals => { :talent_tree => tree, :row => 3, :column => 4} unless tree.talent_3_4.nil?
            = render :partial => 'talent_trees/talent_tree_box', :locals => { :talent_tree => tree, :row => 4, :column => 1} unless tree.talent_4_1.nil?
            = render :partial => 'talent_trees/talent_tree_box', :locals => { :talent_tree => tree, :row => 4, :column => 2} unless tree.talent_4_2.nil?
            = render :partial => 'talent_trees/talent_tree_box', :locals => { :talent_tree => tree, :row => 4, :column => 3} unless tree.talent_4_3.nil?
            = render :partial => 'talent_trees/talent_tree_box', :locals => { :talent_tree => tree, :row => 4, :column => 4} unless tree.talent_4_4.nil?
            = render :partial => 'talent_trees/talent_tree_box', :locals => { :talent_tree => tree, :row => 5, :column => 1} unless tree.talent_5_1.nil?
            = render :partial => 'talent_trees/talent_tree_box', :locals => { :talent_tree => tree, :row => 5, :column => 2} unless tree.talent_5_2.nil?
            = render :partial => 'talent_trees/talent_tree_box', :locals => { :talent_tree => tree, :row => 5, :column => 3} unless tree.talent_5_3.nil?
            = render :partial => 'talent_trees/talent_tree_box', :locals => { :talent_tree => tree, :row => 5, :column => 4} unless tree.talent_5_4.nil?

.row
  .small-12.columns
    .button-bar
      %ul.button-group.round
        %li= link_to "<i class='fi-arrow-left'> Back</i>".html_safe, |
            careers_path, :class => 'tiny secondary button'         |
        - if can? :manage, @career
          %li= link_to "<i class='fi-pencil'> Edit</i>".html_safe, edit_career_path(@career), :class => 'tiny success button'
          %li= link_to "<i class='fi-trash'> Destroy</i>".html_safe, @career, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'tiny alert button'
