<%- model_class = Career -%>
<div class="row">
  <div class="small-12 columns">
    <h1><%=t '.title', :default => @career.name %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <p><%= @career.description.html_safe %></p>

    <h2>Specializations</h2>
    <% @career.talent_trees.each_with_index do |tree, i| %>
      <div class="row">
        <div class="small-12 columns">
          <a name="<%= tree.name %>"></a>
          <h4><%= tree.name %></h4>
          <%= tree.description.html_safe %>
          <ul class="small-block-grid-4 talent-tree">
            <%= render :partial => 'career_talent_tree_box', :locals => { :talent_tree => tree, :row => 1, :column => 1} unless tree.talent_1_1.nil?  %>
            <%= render :partial => 'career_talent_tree_box', :locals => { :talent_tree => tree, :row => 1, :column => 2} unless tree.talent_1_2.nil?  %>
            <%= render :partial => 'career_talent_tree_box', :locals => { :talent_tree => tree, :row => 1, :column => 3} unless tree.talent_1_3.nil?  %>
            <%= render :partial => 'career_talent_tree_box', :locals => { :talent_tree => tree, :row => 1, :column => 4} unless tree.talent_1_4.nil?  %>

            <%= render :partial => 'career_talent_tree_box', :locals => { :talent_tree => tree, :row => 2, :column => 1} unless tree.talent_2_1.nil?  %>
            <%= render :partial => 'career_talent_tree_box', :locals => { :talent_tree => tree, :row => 2, :column => 2} unless tree.talent_2_2.nil?  %>
            <%= render :partial => 'career_talent_tree_box', :locals => { :talent_tree => tree, :row => 2, :column => 3} unless tree.talent_2_3.nil?  %>
            <%= render :partial => 'career_talent_tree_box', :locals => { :talent_tree => tree, :row => 2, :column => 4} unless tree.talent_2_4.nil?  %>

            <%= render :partial => 'career_talent_tree_box', :locals => { :talent_tree => tree, :row => 3, :column => 1} unless tree.talent_3_1.nil?  %>
            <%= render :partial => 'career_talent_tree_box', :locals => { :talent_tree => tree, :row => 3, :column => 2} unless tree.talent_3_2.nil?  %>
            <%= render :partial => 'career_talent_tree_box', :locals => { :talent_tree => tree, :row => 3, :column => 3} unless tree.talent_3_3.nil?  %>
            <%= render :partial => 'career_talent_tree_box', :locals => { :talent_tree => tree, :row => 3, :column => 4} unless tree.talent_3_4.nil?  %>

            <%= render :partial => 'career_talent_tree_box', :locals => { :talent_tree => tree, :row => 4, :column => 1} unless tree.talent_4_1.nil?  %>
            <%= render :partial => 'career_talent_tree_box', :locals => { :talent_tree => tree, :row => 4, :column => 2} unless tree.talent_4_2.nil?  %>
            <%= render :partial => 'career_talent_tree_box', :locals => { :talent_tree => tree, :row => 4, :column => 3} unless tree.talent_4_3.nil?  %>
            <%= render :partial => 'career_talent_tree_box', :locals => { :talent_tree => tree, :row => 4, :column => 4} unless tree.talent_4_4.nil?  %>

            <%= render :partial => 'career_talent_tree_box', :locals => { :talent_tree => tree, :row => 5, :column => 1} unless tree.talent_5_1.nil?  %>
            <%= render :partial => 'career_talent_tree_box', :locals => { :talent_tree => tree, :row => 5, :column => 2} unless tree.talent_5_2.nil?  %>
            <%= render :partial => 'career_talent_tree_box', :locals => { :talent_tree => tree, :row => 5, :column => 3} unless tree.talent_5_3.nil?  %>
            <%= render :partial => 'career_talent_tree_box', :locals => { :talent_tree => tree, :row => 5, :column => 4} unless tree.talent_5_4.nil?  %>
          </ul>
        </div>
      </div>
    <% end -%>

    <div class="form-actions">
      <%= link_to t('.back', :default => t("helpers.links.back")),
                  careers_path, :class => 'button'  %>
    </div>
  </div>
</div>
