= simple_form_for @skill, html: { class: 'form-horizontal' } do |f|
  - if @skill.errors.any?
    .alert-box.warning.radius{"data-alert" => ""}
      %p
        = pluralize(@skill.errors.count, "error")
        prohibited this talent tree from being saved:
      %ul
        - @skill.errors.full_messages.each do |msg|
          %li= msg

  .row
    .medium-8.small-12.columns
      .row
        .small-3.columns
          = f.label :name, :class => 'inline right'
        .small-9.columns
          = f.input :name, :placeholder => 'Skill name', label: false
      .row
        .small-3.columns
          = f.label :characteristic, :class => 'inline right'
        .small-9.columns
          = f.input :characteristic, :as => :select, :collection => ['Agility', 'Brawn', 'Cunning', 'Intellect', 'Presence', 'Willpower'], label: false
      .row
        .small-3.columns
          = f.label :description, :class => 'inline right'
        .small-9.columns
          = f.input :description, :placeholder => 'Skill description', label: false, as: :text, :input_html => { :rows => 20 }
          %a{"data-reveal-id" => "markdown", href: "#"}= "Markdown syntax"
          .reveal-modal.large{"data-reveal" => "", id: "markdown"}
            = find_and_preserve render :partial => 'layouts/markdown'
            %a.close-reveal-modal ×
      %hr

  .row
    .small-12.columns
      .form-actions
        = f.submit nil, :class => 'button'
        = link_to t('.cancel', :default => t("helpers.links.cancel")), skills_path, :class => 'button secondary'
