<%- model_class = Skill -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:characteristic) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <!--<th><%= model_class.human_attribute_name(:type) %></th>-->
      <th><%#=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= skill.name %></td>
        <td><%= skill.characteristic %></td>
        <td><%= skill.description %></td>
        <!--<td><%= skill.type %></td>-->
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      skill_path(skill), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
