<div class="row">
  <div class="small-12 columns">
    <h1><%=t '.title', :default => "#{@character.name} - Motivation" %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= render :partial => 'characters/character_edit_menu' %>
  </div>
</div>
<div class="row" data-no-turbolink>
  <div class="small-4 columns" data-no-turbolink>
    <%= form_for :character_motivation, :url => url_for(:action => 'add_motivation') do |form| %>
      <%
        grouped_options = [
          ['Generic motivations',
            Motivation.where("career_id IS NULL").order(:category).order(:name).collect {|mot| ["#{mot.category} | #{mot.name}", mot.id]}],
          [@character.career.name,
            Motivation.where("career_id = ?", @character.career_id).order(:category).order(:name).collect {|mot| ["#{mot.category} | #{mot.name}", mot.id]}]
        ]
      %>
      <%= form.select :motivation_id, grouped_options_for_select(grouped_options), {:prompt => "Select Motivation"} %>

      <%= form.submit 'Add Motivation', :class => 'button tiny' %>
    <% end %>
    <br />
    <div class="row">
      <div id="motivation-info" class="small-12 columns"></div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <%= link_to "Back", user_character_path(@character.user, @character), :class => "button secondary tiny" %>
      </div>
    </div>
  </div>
  <div class="small-8 columns" data-no-turbolink>
    <% unless @character.character_motivations.blank? %>
      <% @character.character_motivations.each do |o| %>
        <% unless o.motivation_id.nil? %>
          <%= render :partial => "motivation_info", :locals => { :motivation => nil, :character_motivation => o, :active => true } %>
        <% end -%>
      <% end -%>
    <% end -%>
  </div>
</div>
