<div data-magellan-expedition="fixed">
  <dl class="sub-nav">
    <% @rules.each do |r| %>
      <dd data-magellan-arrival="<%= r[:id] %>"><a href="#<%= r[:id] %>"><%= r[:title] %></a></dd>
    <% end %>
  </dl>
</div>
<div class="row">
  <div class="medium-12 columns">
    <% @rules.each do |r| %>
      <a name="<%= r[:id] %>"></a>
      <div class="panel">
        <h3 data-magellan-destination="<%= r[:id] %>"><%= r[:title] %></h3>
        <%= text_replace_tokens(r[:text]).html_safe %>
      </div>
    <% end %>
  </div>
</div>

