<%- model_class = Weapon -%>
<div class="row">
  <div class="small-12 columns">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:skill_id) %></th>
          <th><%= model_class.human_attribute_name(:damage) %></th>
          <th><%= model_class.human_attribute_name(:crit) %></th>
          <th><%= model_class.human_attribute_name(:price) %></th>
          <th>Special</th>
        </tr>
      </thead>
      <tbody>
        <% @weapons.each do |weapon| %>
          <tr>
            <td><%= link_to weapon.name, weapon_path(weapon) %></td>
            <td><%= weapon.skill.name unless weapon.skill.nil? %></td>
            <td><%= weapon.damage %></td>
            <td><%= weapon.crit %></td>
            <td><%= weapon.price %></td>
            <td><%= render "weapon_qualities", :qualities => weapon.weapon_quality_ranks %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>