- content_for :title do
  Weapons

.row
  .small-12.columns
    %h1
      Weapons
      - if can? :create, @weapon
        %small
          = link_to "<i class='fi-plus'></i>".html_safe, new_weapon_path
    %dl.sub-nav
      %dd{:class => ("active" if current_page('weapons'))}
        = link_to "Weapons", weapons_path
      %dd{:class => ("active" if current_page('weapon_qualities'))}
        = link_to "Qualities", weapon_qualities_path
      %dd{:class => ("active" if current_page('weapon_attachments'))}
        = link_to "Attachments", weapon_attachments_path

.row
  .small-12.columns
    %table.footable{data: {sort: 'false', page: {size: 20}}}
      %thead
        %tr
          %th{data: {toggle: 'true'}} Name
          %th Skill
          %th Dam
          %th Crit
          %th Range
          %th{data: {hide: "phone"}} Encum
          %th{data: {hide: "phone"}} HP
          %th{data: {hide: "phone"}} Price
          %th{data: {hide: "phone"}} Rarity
          %th{data: {hide: "phone"}} Special
      - @weapon_categories.each do |category|
        - if category.weapons.any?
          %tr
            %th{colspan: "1", style: "background-color: #000; color: #fff;"}= category.name.pluralize
            %th{colspan: "9", style: "background-color: #000; color: #fff;"} &nbsp;
          - category.weapons.each do |weapon|
            %tr
              %td
                = link_to weapon.name, weapon_path(weapon)
                - if can? :edit, @weapon
                  %small
                    = link_to "<i class='fi-pencil'></i>".html_safe, edit_weapon_path(weapon)
              %td= weapon.skill.name unless weapon.skill.nil?
              %td= weapon.damage
              %td= weapon.crit
              %td= weapon.range
              %td= weapon.encumbrance
              %td= weapon.hard_points
              %td= weapon.price
              %td= weapon.rarity
              %td= render "weapons/weapon_qualities", :qualities => weapon.weapon_quality_ranks

    .footable-pagination.hide-if-no-paging
      .pagination.pagination-centered
