<%- model_class = Weapon -%>
<div class="page-header">
  <h1><%=t '.title', :default => @weapon.name %> <small><%= @weapon.skill.name unless @weapon.skill.nil? %></small></h1>
</div>

<p><%= @weapon.description %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:skill_id) %></th>
      <th><%= model_class.human_attribute_name(:damage) %></th>
      <th><%= model_class.human_attribute_name(:crit) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th>Special</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @weapon.skill.name unless @weapon.skill.nil? %></td>
      <td><%= @weapon.damage %></td>
      <td><%= @weapon.crit %></td>
      <td><%= @weapon.price %></td>
      <td><%= render "weapon_qualities", :qualities => @weapon.weapon_quality_ranks %></td>
    </tr>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              weapons_path, :class => 'btn'  %>
</div>
