<% unless attachment.nil? %>
<ul class="pricing-table">
  <li class="title"><%= attachment.name %></li>
  <li class="price"><%= image_tag("credit_symbol.png", :class => "credit-icon", :title => "Credits")%> <%= attachment.price %></li>
  <li class="description"><%= text_replace_tokens(attachment.description).html_safe %></li>
  <li class="bullet-item"><strong>Hard Point cost:</strong> <%= attachment.hard_points %></li>
  <li class="title">Base modification</li>
  <% attachment.armor_quality_ranks.each do |qual| %>
    <li class="bullet-item"><strong><%= qual.armor_quality.name %></strong><br /><%= qual.armor_quality.description %></li>
  <% end -%>
  <li class="title">Modification options</li>
  <% attachment.armor_attachment_modification_options.each do |aamo| %>
    <% unless aamo.talent_id.nil? %>
      <% talent = Talent.find(aamo.talent_id) %>
      <li class="bullet-item">
        <strong>Innate talent:</strong>
        <%= talent.name %>
        <% unless active.nil? %>
          <% if !armor_attachment_options.armor_attachment_modification_options.nil? and armor_attachment_options.armor_attachment_modification_options.include?(aamo.id.to_s) %>
            <%= link_to "Remove", "/characters/#{@character.id}/armor/attachment/#{attachment.id}/option/#{aamo.id}/remove" %>
          <% else %>
            <%= link_to "Add", "/characters/#{@character.id}/armor/attachment/#{attachment.id}/option/#{aamo.id}/add" %>
          <% end %>
        <% end %>
      </li>
    <% end -%>
    <% unless aamo.skill_id.nil? %>
      <% skill = Skill.find(aamo.skill_id) %>
      <li class="bullet-item">
        <strong>Skill:</strong>
        <%= skill.name %> +1
        <% unless active.nil? %>
          <% if !armor_attachment_options.armor_attachment_modification_options.nil? and armor_attachment_options.armor_attachment_modification_options.include?(aamo.id.to_s) %>
            <%= link_to "Remove", "/characters/#{@character.id}/armor/attachment/#{attachment.id}/option/#{aamo.id}/remove" %>
          <% else %>
            <%= link_to "Add", "/characters/#{@character.id}/armor/attachment/#{attachment.id}/option/#{aamo.id}/add" %>
          <% end %>
        <% end %>
      </li>
    <% end -%>
  <% end -%>
  <% unless active.nil? %>
    <li class="cta-button"><%= link_to "Remove", "/characters/#{@character.id}/armor/attachment/#{attachment.id}/remove", :class => 'button tiny alert' %></li>
  <% end -%>
</ul>
<% end -%>