<% unless f.object.weapon_id.nil? %>
  <% @weapon = Weapon.find_by_id(f.object.weapon_id) %>
  <% unless @weapon.name == 'Unarmed' %>
    <li class="control-group nested-fields">
      <div class="well">
        <h3><%= @weapon.name %> <small><%= @weapon.skill.name %></small></h3>
        <span class="label">Damage <span class="label label-info"><%= @weapon.damage %></span></span>
        <span class="label">Crit <span class="label label-info"><%= @weapon.crit %></span></span>
        <span class="label">Price  <span class="label label-info"><%= @weapon.price %></span></span>
        <span class="label"><%= render "weapons/weapon_qualities", :qualities => @weapon.weapon_quality_ranks %></span><br />
        <%= @weapon.description %>
        <div class="control-group">
          <%= f.text_area :description, :class => 'text_area input-block-level' %>
          <span class="help-block">Write your own description of your weapon, such as make and model, color, or anything else that might make this weapon personal.</span>
        </div>
        <div class="controls">
          <%= link_to_remove_association "remove", f, :class => 'btn btn-danger' %>
        </div>
      </div>
    </li>
  <% end %>
<% else %>
  <li class="control-group nested-fields">
    <div class="well">
      <div class="control-group">
        <%= f.select :weapon_id, Weapon.where.not(name: 'Unarmed').collect  {|weapon| [weapon.name, weapon.id]}, {:prompt => "Select Weapon"} %>
      </div>
      <div class="control-group">
        <%= f.text_area :description, :class => 'text_area input-block-level' %>
        <span class="help-block">Write your own description of your weapon, such as make and model, color, or anything else that might make this weapon personal.</span>
      </div>
    </div>
  </li>
<% end %>