<% unless f.object.gear_id.nil? %>
  <% @item = Gear.find_by_id(f.object.gear_id) %>
    <li class="nested-fields">
      <ul class="pricing-table">
        <li class="title"><%= @item.name %></li>
        <li class="price"><%= image_tag("credit_symbol.png", :class => "credit-icon", :title => "Credits")%> <%= @item.price %></li>
        <li class="description">
          <%= text_replace_tokens(@item.description).html_safe %>
          <%= f.check_box :carried %>
          <%= f.label :carried %>
        </li>
        <li class="bullet-item">Enc: <%= @item.encumbrance %></li>
        <li class="bullet-item">Rarity: <%= @item.rarity %></li>
        <li class="bullet-item"><label>Quantity</label><%= f.number_field :qty, :min => 0 %></li>
        <li class="cta-button"><%= link_to_remove_association "remove", f, :class => 'button tiny alert' %></li>
      </ul>
    </li>
<% else %>
  <li>
    <ul class="pricing-table">
      <li class="title">New item</li>
      <li class="bullet-item"><%= f.select :gear_id, Gear.where(:true).collect  {|gear| [gear.name, gear.id]}, {:prompt => "Select Item"} %></li>
      <li class="bullet-item"><label>Quantity</label><%= f.number_field :qty, :min => 0, :value => 1 %></li>
      <li class="bullet-item">
        <%= f.check_box :carried, :checked => 'checked' %>
        <%= f.label :carried %>
      </li>
    </ul>
  </li>
<% end %>
