  <% if item[:gear_id] %>
    <% @item = Gear.find_by_id(item.gear_id) %>
    <tr class="nested-fields">
      <td>
        <a href="#" data-reveal-id="itemDescription-<%= item.id %>"><%= @item.name %></a>
        <div id="itemDescription-<%= item.id %>" class="reveal-modal" data-reveal>
          <h2><%= @item.name %></h2>
          <p><%= text_replace_tokens(@item.description).html_safe %></p>
          <p><strong>Rarity:</strong> <%= @item.rarity %></p>
          <p><strong>Price:</strong> <%= image_tag("credit_symbol.png", :class => "credit-icon", :title => "Credits")%> <%= @item.price %></p>
          <a class="close-reveal-modal">&#215;</a>
        </div>
      </td>
      <td>
        <% if @item.gear_models.any? %>
          <%#= f.select :gear_model_id, @item.gear_models.collect {|model| ["#{model.name}", model.id]}, {:prompt => "Select Model"} %>
        <% end %>
      </td>
      <td><%= @item.encumbrance * item.qty %></td>
      <td>- <%= item.qty %> +</td>
      <td>
        <% if item.carried %>
          <%= link_to "Carried", place_item_path(@character, item, 'storage'), :class => 'label success' %>
        <% else %>
          <%= link_to "Stored", place_item_path(@character, item, 'inventory'), :class => 'label secondary' %>
        <% end %>
      </td>
      <td><%= link_to "Remove", remove_item_path(@character, item), :class => 'label alert' %></td>
    </tr>
  <% else %>
    <tr class="nested-fields">
      <td colspan="2">
        <%= item.description %>
      </td>
      <td><%= item.encumbrance * item.qty %></td>
      <td>- <%= item.qty %> +</td>
      <td>
        <% if item.carried %>
          <%= link_to "Carried", place_item_path(@character, item, 'storage', 'custom'), :class => 'label success' %>
        <% else %>
          <%= link_to "Stored", place_item_path(@character, item, 'inventory', 'custom'), :class => 'label secondary' %>
        <% end %>
      </td>
      <td><%= link_to "Remove", remove_item_path(@character, item, 'custom'), :class => 'label alert' %></td>
    </tr>
  <% end %>
