<li class="<% if talent_tree["talent_#{row}_#{column}_require_#{row}_#{column + 1}"] == 1 %>link-right<% end %> <% if talent_tree["talent_#{row}_#{column - 1}_require_#{row}_#{column}"] == 1 %>link-left<% end %>">
  <% talent = Talent.find_by_id(talent_tree["talent_#{row}_#{column}"]) %>
  <div class="panel radius talent-box <% if talent.activation.match(/^Active/) %>active<% else %>passive<% end %> <% if @character_tree_talents.first["talent_#{row}_#{column}"] %>selected<% end %>">
    <strong><%= talent.name %></strong>
    <%= check_box_tag "tree_#{talent_tree.id}-talent_#{row}_#{column}", talent_tree["talent_#{row}_#{column}"], (@character_tree_talents.first["talent_#{row}_#{column}"] unless @character_tree_talents.first.nil?) %>
    <%= simple_format(text_replace_tokens(talent.description), {}, wrapper_tag: "div") %>
    <%
      parser_name = talent.name.gsub(' ', '').downcase
      if talent.respond_to?("#{parser_name}")
        talent_alterations = talent.send("#{parser_name}", 0, @character)
      end

      option_enabled = true
      #unless @character_tree_talents.first.nil? or @character_tree_talents.first["talent_#{row}_#{column}"].nil?
      #  option_enabled = true
      #end
    %>
    <% unless talent_alterations.nil? %>
      <% unless talent_alterations[:on_purchase].nil? %>
        <% talent_alterations[:on_purchase][:amount].times do |i| %>
          <% if talent_alterations[:on_purchase][:type] == :select_characteristic %>
            <% unless talent_alterations[:on_purchase][:select_options].nil? %>
              <%= select_tag "tree_#{talent_tree.id}-talent_#{row}_#{column}-option_#{i}", options_for_select(talent_alterations[:on_purchase][:select_options], (@character_tree_talents.first["talent_#{row}_#{column}_options".to_sym][i] unless @character_tree_talents.first.nil? or @character_tree_talents.first["talent_#{row}_#{column}_options".to_sym].nil?)), :class => 'input-block-level', :disabled => !option_enabled %>
            <% end %>
          <% elsif talent_alterations[:on_purchase][:type] == :select_skill %>
            <% unless talent_alterations[:on_purchase][:select_options].nil? %>
              <%= select_tag "tree_#{talent_tree.id}-talent_#{row}_#{column}-option_#{i}", options_for_select(talent_alterations[:on_purchase][:select_options], (@character_tree_talents.first["talent_#{row}_#{column}_options".to_sym][i] unless @character_tree_talents.first.nil? or @character_tree_talents.first["talent_#{row}_#{column}_options".to_sym].nil?)), :class => 'input-block-level', :disabled => !option_enabled %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <p class="ribbon"><span><% if talent.activation.match(/^Active/) %>Active<% else %>Passive<% end %></span></p>
  </div>
  <div class="link-down<% if talent_tree["talent_#{row + 1}_#{column}_require_#{row}_#{column}"] == 1 %>-active<% end %>"></div>
</li>