.panel.live-stats
  - if @character.creation?
    %h5 #{image_tag("credit_symbol.png", :class => "credit-icon", :title => "Credits")} #{@character.credits}
  - else
    .row.collapse
      .small-2.columns
        %span.prefix.radius
          %label.inline= image_tag("credit_symbol.png", :class => "credit-icon", :title => "Credits")
      .small-10.columns
        = hidden_field_tag 'slug', user_character_path(@character.user, @character)
        = number_field_tag :character_credits, @character.credits
    %small During character generation the cost of items added will be subtracted from your character's starting credits. After activation credits will no longer be automatically updated on item purchase.
    %br
    %br
  %table
    %thead
      %tr
        %th Encumbrance
        %th Threshold
    %tbody
      %tr
        %td= @character.encumbrance_value
        %td= @character.encumbrance_threshold
