<%= form_for @character, :html => { :class => 'form-horizontal' } do |f| %>
  <%= hidden_field_tag 'character_basics', 'true' %>
  <%= hidden_field_tag 'original_race_id', @character.race_id %>
  <%= hidden_field_tag 'original_career_id', @character.career_id %>
  <% if @character.errors.any? %>
    <div data-alert class="alert-box warning radius">
      <p><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</p>
      <ul>
        <% @character.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 columns">
      <%= f.label :name %>
      <%= f.text_field :name, :placeholder => 'Name your character' %>
    </div>
  </div>
  <% if @character.creation? %>
    <div class="row">
      <div class="small-6 columns">
        <%= f.label :race_id, 'Species' %>
        <%= select('character', 'race_id', Race.where(:true).collect  {|race| [race.name, race.id]}, {:prompt => "Select species"}, :class => 'input-block-level') %>
      </div>
      <div class="small-6 columns">
        <%= f.label :career_id %>
        <%= select('character', 'career_id', Career.where(:true).collect  {|career| [career.name, career.id]}, {:prompt => "Select career"},   :class => 'input-block-level') %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <% unless @character.new_record? %>
          <%= f.label :class_skills, "Select #{if @character.race.name == 'Droid' then 6 else 4 end} career skills to add a free rank to:" %>
          <% @character.career.skills.each do |class_skill| %>
            <input value="<%= class_skill.id %>" id="free_skill_rank_<%= class_skill.id %>" name="free_career_skill_rank[]" type="checkbox" <%= if @career_free_rank.include? class_skill.id then  "checked=checked" end %>>
            <label for="free_skill_rank_<%= class_skill.id %>"><small><%= class_skill.name %></small></label>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="panel">
  <div class="row">
    <div class="small-4 columns">
      <%= f.label :gender %>
      <%= f.radio_button :gender, 'Male' %><label for="character_gender_male">Male</label>
      <%= f.radio_button :gender, 'Female' %><label for="character_gender_female">Female</label>
    </div>
    <div class="small-4 columns">
      <%= f.label :age %>
      <%= f.text_field :age %>
    </div>
    <div class="small-4 columns">
      <%= f.label :height %>
      <%= f.text_field :height %>
    </div>
  </div>
  <div class="row">
    <div class="small-4 columns">
      <%= f.label :build %>
      <%= f.text_field :build %>
    </div>
    <div class="small-4 columns">
      <%= f.label :hair %>
      <%= f.text_field :hair %>
    </div>
    <div class="small-4 columns">
      <%= f.label :eyes %>
      <%= f.text_field :eyes %>
    </div>
  </div>
  </div>

  <% unless @character.new_record? or !@character.creation? %>
    <div class="row">
      <div class="small-12 columns">
        <fieldset>
          <legend>Characteristics</legend>
            <div class="row">
              <div class="small-4 columns">
                <div class="row collapse">
                  <div class="small-6 columns">
                    <span class="prefix radius"><%= f.label :brawn %></span>
                  </div>
                  <div class="small-6 columns">
                    <%= f.number_field :brawn, :in => @character.race.brawn...6 %>
                  </div>
                </div>
                <div class="row collapse">
                  <div class="small-6 columns">
                    <span class="prefix radius"><%= f.label :intellect %></span>
                  </div>
                  <div class="small-6 columns">
                    <%= f.number_field :intellect, :in => @character.race.intellect...6 %>
                  </div>
                </div>
              </div>
              <div class="small-4 columns">
                <div class="row collapse">
                  <div class="small-6 columns">
                    <span class="prefix radius"><%= f.label :agility %></span>
                  </div>
                  <div class="small-6 columns">
                    <%= f.number_field :agility, :in => @character.race.agility...6 %>
                  </div>
                </div>
                <div class="row collapse">
                  <div class="small-6 columns">
                    <span class="prefix radius"><%= f.label :willpower %></span>
                  </div>
                  <div class="small-6 columns">
                    <%= f.number_field :willpower, :in => @character.race.willpower...6 %>
                  </div>
                </div>
              </div>
              <div class="small-4 columns">
                <div class="row collapse">
                  <div class="small-6 columns">
                    <span class="prefix radius"><%= f.label :cunning %></span>
                  </div>
                  <div class="small-6 columns">
                    <%= f.number_field :cunning, :in => @character.race.cunning...6 %>
                  </div>
                </div>
                <div class="row collapse">
                  <div class="small-6 columns">
                    <span class="prefix radius"><%= f.label :presence %></span>
                  </div>
                  <div class="small-6 columns">
                    <%= f.number_field :presence, :in => @character.race.presence...6 %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <div class="panel">
                  You may spend starting experience to increase characteristics. This is the only time you can increase     characteristics with experience points.<br />
                  <strong>Creation limit:</strong> You may not purchase characteristics above 5 during character creation.<br />
                  <strong>Cost:</strong>  Ten times the purchased rating in experience. Each rating must be purchased sequentially.
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <%= f.label :experience %>
          <%= f.number_field :experience, :min => 0 %>
          <span class="help-block">
            <small>
              <strong>Starting experience:</strong> <%= @character.race.starting_experience %>
            </small>
          </span>
        </div>
        <div class="small-6 columns">
          <%= f.label :credits %>
          <%= f.number_field :credits, :min => 0 %>
        </div>
      </div>

    <div class="row-fluid">
      <div class="span6 well">
        <h4>Obligations</h4>
        <fieldset id="character-obligations">
            <ul>
              <%= f.fields_for :character_obligations do |obligation| %>
                <%= render 'character_obligation_fields', :f => obligation %>
              <% end %>
            </ul>
            <%= link_to_add_association 'Add obligation', f, :character_obligations, 'data-association-insertion-node' => "#character-obligations ul", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|obligation| obligation.build_obligation; obligation }, :class => 'btn btn-warning' %>
          </fieldset>
      </div>
      <div class="span6 well">
        <h4>Motivations</h4>
        <fieldset id="character-motivations">
            <ul>
              <%#= f.fields_for :character_motivations do |motivation| %>
                <%#= render 'character_motivation_fields', :f => motivation %>
              <%# end %>
            </ul>
            <%#= link_to_add_association 'Add motivation', f, :character_motivations, 'data-association-insertion-node' => "#character-motivations ul", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|motivation| motivation.build_motivation; motivation }, :class => 'btn btn-warning' %>
          </fieldset>
      </div>
    </div>
  <% end %>
  <!--
  <div class="row-fluid">
    <div class="span6 well">
      <div class="control-group" style="margin-bottom: 0px;">
        <%#= f.text_area :bio, :class => 'text_area input-block-level', :style => "height: 350px" %>
        <span class="help-block"><strong>Character biography</strong></span>
      </div>
    </div>
    <div class="span6 well">
      <div class="control-group">
        <%#= f.text_area :notable_features, :class => 'text_area input-block-level', :style => "height: 150px" %>
        <span class="help-block"><strong>Notable features</strong></span>
      </div>
      <div class="control-group" style="margin-bottom: 0px;">
        <%#= f.text_area :other, :class => 'text_area input-block-level', :style => "height: 150px" %>
        <span class="help-block"><strong>Other information</strong></span>
      </div>
    </div>
  </div>
-->
  <div class="form-actions">
    <%= f.submit nil, :class => 'button' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                characters_path, :class => 'button secondary' %>
  </div>
<% end %>
