<%= simple_form_for [current_user, @character], html: { class: 'form-horizontal' } do |f| %>
  <%= hidden_field_tag 'character_basics', 'true' %>
  <% if @character.errors.any? %>
    <div data-alert class="alert-box warning radius">
      <p><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</p>
      <ul>
        <% @character.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 columns">
      <%= f.label :name %>
      <%= f.text_field :name, :placeholder => 'Name your character' %>
    </div>
  </div>
  <div class="row">
    <div class="small-4 columns">
      <%= f.label :gender %>
      <%= f.radio_button :gender, 'Male' %><label for="character_gender_male">Male</label>
      <%= f.radio_button :gender, 'Female' %><label for="character_gender_female">Female</label>
    </div>
    <div class="small-4 columns">
      <%= f.label :age %>
      <%= f.text_field :age %>
    </div>
    <div class="small-4 columns">
      <%= f.label :height %>
      <%= f.text_field :height %>
    </div>
  </div>
  <div class="row">
    <div class="small-4 columns">
      <%= f.label :build %>
      <%= f.text_field :build %>
    </div>
    <div class="small-4 columns">
      <%= f.label :hair %>
      <%= f.text_field :hair %>
    </div>
    <div class="small-4 columns">
      <%= f.label :eyes %>
      <%= f.text_field :eyes %>
    </div>
  </div>

  <% unless @character.new_record? %>
    <div class="row">
      <div class="small-6 columns">
        <%= f.label :credits %>
        <%= f.number_field :credits, :min => 0 %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="small-6 columns">
      <%= f.label :notable_features %>
      <%= f.text_area :notable_features, :class => 'text_area input-block-level', :style => "height: 150px" %>
    </div>
    <div class="small-6 columns">
      <%= f.label :other %>
      <%= f.text_area :other, :class => 'text_area input-block-level', :style => "height: 150px" %>
    </div>
  </div>

  <% if @character.new_record? %>
    <div class="row">
      <div class="medium-6 columns">
        <%= select('character', 'race_id', Race.where(:true).collect  {|race| [race.name, race.id]}, {:prompt => "Select species"}, :class => 'input-block-level') %>
        <div class="panel" id="species-info">
          <% unless @character.race_id.blank? %>
            <%= render :partial => 'species_info', :locals => { :species => @character.race, :character => @character, :changed => false } %>
          <% end %>
        </div>
      </div>
      <div class="medium-6 columns">
        <%= select('character', 'career_id', Career.where(:true).collect  {|career| [career.name, career.id]}, {:prompt => "Select career"},   :class => 'input-block-level') %>
        <div class="panel" id="career-info">
          <% unless @character.career_id.blank? %>
            <%= render :partial => 'career_info', :locals => { :career => @character.career, :changed => false } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'button' %>
    <% if @character.new_record? %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_characters_path(current_user), :class => 'button secondary' %>
    <% else %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_character_path(current_user, @character), :class => 'button secondary' %>
    <% end %>
  </div>
<% end %>
