<%= form_for @character, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @character.purchased_skills.count == 0 %>
    <%= f.hidden_field :id %>
    <%= hidden_field_tag 'free_skill_ranks', 'true' %>
    <% if @character.errors.any? %>
      <div data-alert class="alert-box warning radius">
        <p><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</p>
        <ul>
          <% @character.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if @character.creation? %>
      <div class="row">
        <div class="small-12 columns panel">
          <h5><%= @character.career.name %></h5>
          <% if @character.career %>
            <%= f.label :class_skills, "Select #{if @character.race.name == 'Droid' then 6 else 4 end} career skills to add a free rank to:" %>
            <% @character.career.skills.each do |class_skill| %>
              <input value="<%= class_skill.id %>" id="free_skill_rank_<%= class_skill.id %>" name="free_career_skill_rank[]" type="checkbox" <%= if career_free_rank.include? class_skill.id then  "checked=checked" end %>>
              <label for="free_skill_rank_<%= class_skill.id %>"><small><%= class_skill.name %></small></label>
            <% end %>
          <% end %>
        </div>
      </div>

      <% if @character.race.respond_to?("#{@character.race.name.gsub(' ', '').downcase}_traits") %>
        <% traits = @character.race.send("#{@character.race.name.gsub(' ', '').downcase}_traits") %>
        <% if traits[:bonus_non_class_skill_ranks] %>
          <div class="row">
            <div class="small-12 columns panel">
              <h5><%= @character.race.name %> trait</h5>
              <%= f.label :free_non_class_skills, "Select #{traits[:bonus_non_class_skill_ranks]} non-career skills to add a free rank to:" %>
              <% @character.career.non_career_skills.each do |non_class_skill| %>
                <input value="<%= non_class_skill.id %>" id="free_skill_rank_<%= non_class_skill.id %>" name="free_non_career_skill_rank[]" type="checkbox" <%= if @racial_trait_free_rank.include? non_class_skill.id then  "checked=checked" end %>>
                <label for="free_skill_rank_<%= non_class_skill.id %>"><small><%= non_class_skill.name %></small></label>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if @initial_talent_tree %>
        <% @character_tree_talents = CharacterTalent.where("talent_tree_id = ? AND character_id = ?", @initial_talent_tree.id, @character.id) %>
        <div class="row">
          <div class="small-12 columns panel">
            <h5><%= @initial_talent_tree.name %></h5>
            <%= f.label :class_skills, "Select #{if @character.race.name == 'Droid' then 3 else 2 end} career skills to add a free rank to:" %>
            <% @initial_talent_tree.skills.each do |class_skill| %>
              <input value="<%= class_skill.id %>" id="free_skill_rank_<%= class_skill.id %>" name="free_specialization_skill_rank[]" type="checkbox" <%= if @specialization_free_rank.include? class_skill.id then "checked=checked" end %>>
              <label for="free_skill_rank_<%= class_skill.id %>" class="" style="display:inline;"><%= class_skill.name %></label>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="form-actions">
        <%= hidden_field_tag 'destination', 'skills' %>
        <%= f.submit "Save free skill ranks", :class => 'button' %>
      </div>
    <% end -%>
  <% else %>
    <div class="row">
      <div class="small-12 columns">
        <% if @character.race.respond_to?("#{@character.race.name.gsub(' ', '').downcase}_traits") %>
        <h5>Free skill ranks from <strong><%= @character.race.name %></strong> trait:</h5>
        <table class="small-12 columns">
          <tr>
            <% @character.career.non_career_skills.each do |class_skill| %>
              <% if @racial_trait_free_rank.include? class_skill.id %>
                <th width="<%= (100/@racial_trait_free_rank.count) %>%"><%= class_skill.name %></th>
              <% end %>
            <% end %>
          </tr>
        </table>
        <% end -%>

        <h5>Free skill ranks from <strong><%= @character.career.name %></strong> career:<br /></h5>
        <table class="small-12 columns">
          <tr>
            <% @character.career.skills.each do |class_skill| %>
              <% if career_free_rank.include? class_skill.id %>
                <th width="<%= (100/career_free_rank.count) %>%"><%= class_skill.name %></th>
              <% end %>
            <% end %>
          </tr>
        </table>
        <h5>Free skill ranks from <strong><%= @initial_talent_tree.name %></strong> specialization:</h5>
        <table class="small-12 columns">
          <tr>
            <% @initial_talent_tree.skills.each do |class_skill| %>
              <% if @specialization_free_rank.include? class_skill.id %>
                <th width="<%= (100/@specialization_free_rank.count) %>%"><%= class_skill.name %></th>
              <% end %>
            <% end %>
          </tr>
        </table>
        <small>To alter free skill ranks you must first untrain all purchased skills.</small>
      </div>
    </div>
  <% end %>
<% end %>