<h4><%= species.name %><% if character && character.subspecies %> <small><%= character.subspecies %></small><% end %></h4>
<% if !character || character.new_record? %>
  <% if species.respond_to?("#{species.name.gsub(' ', '').downcase}_traits") %>
    <% traits = species.send("#{species.name.gsub(' ', '').downcase}_traits") %>
    <% if traits[:sub_species] %>
      <h5>Subspecies</h5>
      <%= select_tag :sub_species, options_for_select(traits[:sub_species], nil), :class => 'input-block-level' %>
    <% end %>
  <% end %>
<% end %>

<table class="table table-striped" width="100%">
  <thead>
    <tr>
      <th>Bra</th>
      <th>Cun</th>
      <th>Pre</th>
      <th>Agi</th>
      <th>Int</th>
      <th>Will</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= species.brawn %></td>
      <td><%= species.cunning %></td>
      <td><%= species.presence %></td>
      <td><%= species.agility %></td>
      <td><%= species.intellect %></td>
      <td><%= species.willpower %></td>
    </tr>
  </tbody>
</table>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Wound Threshold</th>
      <th>Strain Threshold</th>
      <th>Starting Experience</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= species.wound_threshold %></td>
      <td><%= species.strain_threshold %></td>
      <td><%= species.starting_experience %></td>
    </tr>
  </tbody>
</table>

<h4>Special Ability</h4>
<% unless species.skills.nil? %>
  <% species.race_skills.each do |race_skill| %>
    <p>Add <%= pluralize(race_skill.ranks, 'rank') %> in <%= race_skill.skill.name %> skill.</p>
  <% end %>
<% end %>
<% unless species.talents.nil? %>
  <% species.race_talents.each do |race_talent| %>
    <p>Add <%= pluralize(race_talent.ranks, 'rank') %> in <%= race_talent.talent.name %> talent.</p>
  <% end %>
<% end %>
<p><%= text_replace_tokens(species.special_ability.gsub("\n", "<br />")).html_safe %></p>

<p><%= species.description.gsub("\n", "<br />").html_safe %></p>
