<%- model_class = CharacterArmor -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Edit equipped armor for #{@character.name}" %></h1>
</div>
<%= render :partial => 'character_edit_menu' %>

<%= form_for @character do |character_form| %>
  <%= character_form.fields_for :character_armor do |armor_fields| %>
    <%#= character_form.label :armor_id, 'Select armor', :class => 'control-label' %>
    <%= armor_fields.select :armor_id, Armor.find(:all).collect  {|armor| [armor.name, armor.id]}, {:prompt => "Select Armor"} %>
  <% end %>

  <% unless @armor.nil? %>
    <div class="well">
      <h3><%= @armor.name %></h3>
      <span class="label">Defense <span class="label label-info"><%= @armor.defense %></span></span>
      <span class="label">Soak <span class="label label-info"><%= @armor.soak %></span></span>
      <span class="label">Price  <span class="label label-info"><%= @armor.price %></span></span><br />
       <%= @armor.description %>
    </div>
  <% end %>
  
  <div class="form-actions">
    <%= hidden_field_tag 'destination', 'armor' %>
    <%= character_form.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>


