<div class="row">
  <div class="small-12 columns">
    <h1><%=t '.title', :default => "#{@character.name} - Background" %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= render :partial => 'character_edit_menu' %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= simple_form_for [current_user, @character], :html => { :class => 'form-horizontal' } do |f| %>
      <%= hidden_field_tag 'character_background', 'true' %>
      <% if @character.errors.any? %>
        <div data-alert class="alert-box warning radius">
          <p><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</p>
          <ul>
            <% @character.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.text_area :bio, :style => "height: 350px" %>

      <div class="form-actions">
        <%= hidden_field_tag 'destination', 'background' %>
        <%= f.submit "Save background", :class => 'button' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_character_path(current_user, @character), :class => 'button secondary' %>
      </div>
    <% end %>
  </div>
</div>