<div class="row">
  <div class="medium-12 columns">
    <h1><%=t '.title', :default => "Manage equipment for #{@character.name}" %></h1>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <%= render :partial => 'character_edit_menu' %>
  </div>
</div>
<%= form_for @character do |character_form| %>
   <div id="character-inventory" class="row">
    <div class="medium-12 columns">
      <ul class="small-block-grid-5">
        <%= character_form.fields_for :character_gears do |item| %>
          <%= render 'character_gear_fields', :f => item %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <%= link_to_add_association 'Add item', character_form, :character_gears, 'data-association-insertion-node' => "#character-inventory ul.small-block-grid-5", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|item| item.build_gear; item }, :class => 'button success small' %>
      <%= hidden_field_tag 'destination', 'gear' %>
      <%= character_form.submit 'Save equipment', :class => 'button small' %>
    </div>
  </div>
<% end %>
