<div class="row">
  <div class="small-12 columns">
    <h1><%=t '.title', :default => "Manage Force Powers for #{@character.name}" %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= render :partial => 'character_edit_menu' %>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <%= form_for :character_force_power do |f| %>
      <%= f.select :force_power_id, ForcePower.where(:true).collect  {|power| ["#{power.name}", power.id]}, {:prompt => "Select Force Power"} %>
      <div class="row">
        <div id="force-power-info" class="small-12 columns"></div>
      </div>
      <%= f.submit 'Add Force Power', :class => 'button tiny' %>
    <% end %>
    <div class="row">
      <div class="small-12 columns" id="experience_usage_bar"><%= render :partial => 'character_experience_usage' %></div>
    </div>
  </div>
  <div class="small-9 columns">
    <% if @force_powers %>
      <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1" id="item-grid">
        <%= render :partial => "force_power_grid_items", :locals => { :force_powers => @force_powers } %>
      </ul>
    <% end %>
  </div>
</div>

