<%- model_class = Character -%>
<div class="row">
  <div class="medium-12 columns">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <table class="medium-12 columns">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th></th>
          <th><%= model_class.human_attribute_name(:race_id) %></th>
          <th><%= model_class.human_attribute_name(:career_id) %></th>
          <th><%= model_class.human_attribute_name(:created_at) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @characters.each do |character| %>
          <tr>
            <td><%= link_to character.name, character_path(character) %></td>
            <td>
              <% if character.creation? %>
                  <i class='fi-battery-half' title='Character creation mode'></i>
              <% elsif character.active? %>
                  <i class='fi-battery-full' title="Active character"></i>
              <% elsif character.retired? %>
                  <i class='fi-battery-empty' title="Character retired"></i>
              <% end %>
            </td>
            <td><%= character.race.name unless character.race.nil? %></td>
            <td><%= character.career.name unless character.career.nil? %></td>
            <td><%=l character.created_at, :format => :short %></td>
            <td>
              <div class="button-bar">
                <ul class="button-group round">
                  <li><%= link_to "<i class='fi-page-pdf'> PDF</i>".html_safe, character_path(character, :format => 'pdf'), :class => 'button tiny success', :target => "_blank" %></li>
                  <li><%= link_to "<i class='fi-pencil'> Edit</i>".html_safe, character_path(character), :class => 'button tiny' %></li>
                  <li><%= link_to "<i class='fi-skull'> Delete</i>".html_safe, character_path(character),
                                        :method => :delete,
                                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                        :class => 'button alert tiny' %></li>
                </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to t('.new', :default => t("helpers.links.new")),
            new_character_path,
            :class => 'button radius' %>
  </div>
</div>
