<%- model_class = Character -%>
<% unless can? :manage, Character %>
  <div class="row">
    <div class="medium-12 columns panel warning">
      You have not yet been granted access to the functionality of this site. Please await help from the site admin.
    </div>
  </div>
<% end %>
<div class="row">
  <div class="medium-12 columns">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <table class="character-list footable" data-page-size="10">
      <thead>
        <tr>
          <th data-toggle='true' data-sort-initial="true"><%= model_class.human_attribute_name(:name) %></th>
          <th data-hide="phone">Status</th>
          <th><%= model_class.human_attribute_name(:race_id) %></th>
          <th><%= model_class.human_attribute_name(:career_id) %></th>
          <th data-hide="phone,tablet" data-type="numeric"><%= model_class.human_attribute_name(:created_at) %></th>
          <th data-hide="phone,tablet" data-sort-ignore="true"></th>
        </tr>
      </thead>
      <tbody>
        <% @characters.each do |character| %>
          <tr>
            <td><%= link_to character.name, user_character_path(current_user, character) %></td>
            <td>
              <span class="footable-details-label">Status:</span>
              <% if character.creation? %>
                  <i class='fi-wrench' title='Character creation mode'></i>
              <% elsif character.active? %>
                  <i class='fi-torso' title="Active character"></i>
              <% elsif character.retired? %>
                  <i class='fi-blind' title="Character retired"></i>
              <% end %>
            </td>
            <td><%= character.race.name unless character.race.nil? %></td>
            <td><%= character.career.name unless character.career.nil? %></td>
            <td data-value="<%= character.created_at.to_time.to_i %>">
              <span class="footable-details-label">Created at:</span>
              <%=l character.created_at, :format => :short %>
            </td>
            <td>
              <div class="button-bar">
                <ul class="button-group round">
                  <li><%= link_to "<i class='fi-page-pdf'> PDF</i>".html_safe, user_character_path(current_user, character, :format => 'pdf'), :class => 'button tiny success', :target => "_blank" %></li>
                  <li><%= link_to "<i class='fi-pencil'> Edit</i>".html_safe, user_character_path(current_user, character), :class => 'button tiny' %></li>
                  <li><%= link_to "<i class='fi-skull'> Delete</i>".html_safe, user_character_path(current_user, character),
                                        :method => :delete,
                                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                        :class => 'button alert tiny' %></li>
                </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="footable-pagination hide-if-no-paging">
      <div class="pagination pagination-centered"></div>
    </div>
    <% if can? :manage, Character %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_character_path(current_user),
            :class => 'button radius' %>
    <% end -%>
  </div>
</div>
