<div class="row">
  <div class="small-12 columns">
    <h1><%=t '.title', :default => "#{@character.name} - Motivation" %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= render :partial => 'character_edit_menu' %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= form_for @character, :html => { :class => 'form-horizontal' } do |f| %>
      <%= hidden_field_tag 'character_motivation', 'true' %>
      <% if @character.errors.any? %>
        <div data-alert class="alert-box warning radius">
          <p><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</p>
          <ul>
            <% @character.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <fieldset id="character-motivations">
        <ul>
          <%#= f.fields_for :character_motivations do |motivation| %>
            <%#= render 'character_motivation_fields', :f => motivation %>
          <%# end %>
        </ul>
        <%#= link_to_add_association 'Add motivation', f, :character_motivations, 'data-association-insertion-node' => "#character-motivations ul", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|motivation| motivation.build_motivation; motivation }, :class => 'btn btn-warning' %>
      </fieldset>

      <div class="form-actions">
        <%= hidden_field_tag 'destination', 'motivation' %>
        <%= f.submit "Save motivation", :class => 'button' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                characters_path, :class => 'button secondary' %>
      </div>
    <% end %>

  </div>
</div>