<div class="row">
  <div class="small-12 columns">
    <h1><%=t '.title', :default => "#{@character.name} - Obligation" %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= render :partial => 'character_edit_menu' %>
  </div>
</div>
<div class="row" data-no-turbolink>
  <div class="small-3 columns" data-no-turbolink>
    <%= form_for :character_obligation, :url => url_for(:action => 'add_obligation') do |form| %>
      <%= form.select :obligation_id, Obligation.where(:true).collect  {|obligation| ["#{obligation.range} | #{obligation.name}", obligation.id]}, {:prompt => "Select Obligation"} %>
      <%= form.submit 'Add obligation', :class => 'button tiny' %>
    <% end -%>
    <br />
    <div class="row">
      <div id="obligation-info" class="small-12 columns"></div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <%= link_to "Back", character_armor_url(@character), :class => "button secondary tiny" %>
      </div>
    </div>
  </div>
  <div class="small-9 columns" data-no-turbolink>
    <% unless @obligations.blank? %>
      <% @obligations.each do |o| %>
        <% unless o.obligation_id.nil? %>
          <% obligaton = Obligation.find(o.obligation_id) %>
          <%= render :partial => "obligation_info", :locals => { :obligation => obligaton, :character_obligation => o, :active => true } %>
        <% end -%>
      <% end -%>
    <% end -%>
  </div>
</div>
