<%- model_class = Character -%>
<% content_for :title do %>
  <%= @character.name %> - <%= @character.race.name unless @character.race.nil? %> <%= @character.career.name unless @character.career.nil? %>
<% end %>

<div class="row">
  <div class="medium-12 columns">
    <h1><%=t '.title', :default => @character.name %> <small><%= @character.race.name unless @character.race.nil? %> <%= @character.career.name unless @character.career.nil? %></small></h1>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <%= render :partial => 'character_edit_menu' %>
  </div>
</div>
<% unless @character.bio.blank? %>
  <div class="row">
    <div class="medium-12 columns">
      <%= simple_format(@character.bio) %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="medium-9 columns">
    <table class="small-12 columns">
      <tbody>
        <tr>
          <td><strong><%= model_class.human_attribute_name(:brawn) %> <%= @character.brawn %></strong></td>
          <td><strong><%= model_class.human_attribute_name(:cunning) %> <%= @character.cunning %></strong></td>
          <td><strong><%= model_class.human_attribute_name(:presence) %> <%= @character.presence %></strong></td>
        </tr>
        <tr>
          <td><strong><%= model_class.human_attribute_name(:agility) %> <%= @character.agility %></strong></td>
          <td><strong><%= model_class.human_attribute_name(:intellect) %> <%= @character.intellect %></strong></td>
          <td><strong><%= model_class.human_attribute_name(:willpower) %> <%= @character.willpower %></strong></td>
        </tr>
        <tr>
          <td colspan="3"><strong>Skills:</strong>
            <% @character.character_skills.each do |character_skill| %>
              <% unless character_skill.skill.nil? or skill_total_ranks(character_skill) < 1 %>
                <span style="display: inline; white-space:nowrap;"><%= character_skill.skill.name %> <%= skill_total_ranks(character_skill) %> <%= render :partial => "dice_pool", :locals => {:score => @character.send(character_skill.skill.characteristic.downcase), :ranks => skill_total_ranks(character_skill)} %><% if @character.  character_skills.last != character_skill %>,<% end %></span>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><strong>Soak:</strong> <%= @soak%></td>
          <td></td>
          <td><strong>Defense:</strong> <%= @defense %></td>
        </tr>
        <tr>
          <td><strong>Wound Threshold:</strong> <%= @wound_th %></td>
          <td></td>
          <td><strong>Strain Threshold:</strong> <%= @strain_th %></td>
        </tr>
        <tr>
          <td colspan="3">
            <h5>Attacks</h5>
            <table>
              <thead>
                <tr>
                  <th>Weapon</th>
                  <th>Skill</th>
                  <th>Dice</th>
                  <th>Dam</th>
                  <th>Crit</th>
                  <th>Range</th>
                  <th>Misc</th>
                </tr>
              </thead>
              <tbody>
                <% @character.attacks.each do |attack| %>
                  <tr>
                    <td><%= attack['weapon'].name %></td>
                    <td><%= attack['skill'].name %></td>
                    <td><%= render :partial => 'dice_pool', :locals => {:score => @character.send(attack['skill'].characteristic.downcase), :ranks => attack['ranks']} %></td>
                    <td><%= attack['weapon'].damage %></td>
                    <td><%= attack['weapon'].crit %></td>
                    <td><%= attack['weapon'].range %></td>
                    <td><%= attack['attachments'] %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <h5>Talents</h5>
            <table>
              <tbody>
                <% @character.talents.each_with_index do |element, index| %>
                  <% talent = Talent.find_by_id(element[0]) %>
                  <%
                    count = ''
                    options = ''
                    if element[1]['count'] > 1
                      unless element[1]['options'].empty?
                        options = "<span class='label success round'>#{element[1]['options'].join(', ')}</span>"
                      else
                        options = "<span class='label success round'>#{element[1]['count']}</span>"
                      end
                    else
                      unless element[1]['options'].empty?
                        options = "<span class='label success round'>#{element[1]['options'].join(', ')}</span>"
                      end
                    end
                  %>
                  <tr>
                    <td><strong><%= talent.name %></strong></td>
                    <td><%= options.html_safe %></td>
                    <td><%= text_replace_tokens(talent.description) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </td>
        </tr>
        <% if @character.force_rating > 0 %>
          <tr>
            <td colspan="3">
              <h5>Force Powers <small>Force rating <%= @character.force_rating %></small></h5>
              <% @character.force_power_upgrades_computed.each do |fp| %>
                <table>
                  <thead>
                    <tr>
                      <th colspan="2"><%= fp['name'] %></th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td colspan="2"><%= text_replace_tokens(fp['description']) %></td>
                  </tr>
                  <% fp['upgrades'].each do |upg| %>
                    <tr>
                      <td><strong><%= upg['name'] %><% if upg['rank'] %>&nbsp;<span class='label success round'><%= upg['rank'] %></span><% end %></strong></td>
                      <td><%= text_replace_tokens(upg['description']) %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan="3"><strong>Equipment:</strong> <%= @equipment.join(', ').html_safe %></td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="medium-12 columns">
        <div class="button-bar">
          <ul class="button-group round">
            <li><%= link_to "<i class='fi-rewind'> Back</i>".html_safe,
                    characters_path, :class => 'button secondary'  %></li>
            <li><%= link_to "<i class='fi-page-pdf'> PDF</i>".html_safe,
                    character_path(@character, :format => 'pdf'), :class => 'button disabled', :target => "_blank" %></li>
            <li><%= link_to "<i class='fi-skull'> Delete</i>".html_safe,
                    character_path(@character),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'button alert' %></li>
            <% if @character.may_set_create? && !@character.creation? %>
              <li><%= link_to "<i class='icon-wrench'></i> Creation".html_safe, creation_character_path(@character), :class => 'button info' %></li>
            <% end %>
            <% if @character.may_activate? %>
              <li><%= link_to "<i class='icon-ok'></i> Activate".html_safe, activate_character_path(@character), :class => 'button  success' %></li>
            <% end %>
            <% if @character.may_retire? %>
              <li><%= link_to "<i class='icon-fire'></i> Retire".html_safe, retire_character_path(@character), :class => 'button alert' %>  </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="medium-3 columns">
    <div class="row">
      <%= render :partial => 'character_experience_usage' %>
    </div>
    <div class="row">
      <div class="medium-12 columns panel">
        <h5>Credits</h5>
        <%= image_tag("credit_symbol.png", :class => "credit-icon", :title => "Credits")%> <%= @character.credits %>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns panel">
        <h4>Obligation <small>(<%= @character.character_obligations.sum(:magnitude) %>)</small></h4>
        <% @character.character_obligations.each do |obl| %>
          <% unless obl.obligation_id.nil? %>
            <h5><%= obl.obligation.name %> <small>(<%= obl.magnitude %>)</small></h5>
            <% unless obl.description.nil? %>
              <%= text_replace_tokens(obl.description) %>
            <% end -%>
            <hr />
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
