<%- model_class = Character -%>
<% content_for :title do %>
  <%= @character.name %> - <%= @character.race.name unless @character.race.nil? %> <%= @character.career.name unless @character.career.nil? %>
<% end %>

<div class="row">
  <div class="medium-12 columns">
    <h1><%=t '.title', :default => @character.name %> <small><%= @character.race.name unless @character.race.nil? %> <%= @character.career.name unless @character.career.nil? %></small></h1>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <%= render :partial => 'character_edit_menu' %>
  </div>
</div>
<% unless @character.bio.blank? %>
  <div class="row">
    <div class="medium-12 columns">
      <%= simple_format(@character.bio) %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="medium-9 columns">
    <table>
      <tbody>
        <tr>
          <td><strong><%= model_class.human_attribute_name(:brawn) %> <%= @character.brawn %></strong></td>
          <td><strong><%= model_class.human_attribute_name(:cunning) %> <%= @character.cunning %></strong></td>
          <td><strong><%= model_class.human_attribute_name(:presence) %> <%= @character.presence %></strong></td>
        </tr>
        <tr>
          <td><strong><%= model_class.human_attribute_name(:agility) %> <%= @character.agility %></strong></td>
          <td><strong><%= model_class.human_attribute_name(:intellect) %> <%= @character.intellect %></strong></td>
          <td><strong><%= model_class.human_attribute_name(:willpower) %> <%= @character.willpower %></strong></td>
        </tr>
        <tr>
          <td colspan="3"><span class="label">Skills:</span>
            <% @character.character_skills.each do |character_skill| %>
              <% unless character_skill.skill.nil? or skill_total_ranks(character_skill) < 1 %>
                <span style="display: inline; white-space:nowrap;"><%= character_skill.skill.name %> <%= skill_total_ranks(character_skill) unless skill_total_ranks(character_skill) < 1  %> <%= render :partial => "dice_pool", :locals => {:score => @character.send(character_skill.skill.characteristic.downcase), :ranks => skill_total_ranks(character_skill)} %><% if @character.  character_skills.last != character_skill %>,<% end %></span>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td colspan="3"><strong>Talents:</strong>
            <% @talents.each_with_index do |element, index| %>
              <% talent_name = Talent.find_by_id(element[0]).name %>
              <%
                count = ''
                delimiter = ''
                options = ''
                if element[1]['count'] > 1
                  unless element[1]['options'].empty?
                    options = " (#{element[1]['options'].join(', ')})"
                  else
                    options = " (#{element[1]['count']})"
                  end
                else
                  unless element[1]['options'].empty?
                    options = " (#{element[1]['options'].join(', ')})"
                  end
                end

                if index != @talents.length - 1
                  delimiter = ", "
                end
              %>
              <%= "#{talent_name}#{options}#{delimiter}" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><strong>Soak:</strong> <%= @soak%></td>
          <td></td>
          <td><strong>Defense:</strong> <%= @defense %></td>
        </tr>
        <tr>
          <td colspan="3"><strong>Wound Threshold:</strong> <%= @wound_th %></td>
        </tr>
        <tr>
          <td colspan="3"><strong>Strain Threshold:</strong> <%= @strain_th %></td>
        </tr>
        <tr>
          <td colspan="3"><strong>Equipment:</strong> <%= @equipment.join(', ').html_safe %></td>
        </tr>
        <tr>
          <td colspan="3"><strong>Attacks:</strong> <ul><li><%= @attacks.join('</li><li>').html_safe %></li></ul></td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="medium-12 columns">
        <div class="button-bar">
          <ul class="button-group round">
            <li><%= link_to "<i class='icon-chevron-left'></i> Back".html_safe,
                    characters_path, :class => 'button secondary'  %></li>
            <li><%= link_to "<i class='icon-pencil'></i> Edit".html_safe,
                    edit_character_path(@character), :class => 'button' %></li>
            <li><%= link_to "<i class='icon-print'></i> PDF".html_safe,
                    character_path(@character, :format => 'pdf'), :class => 'button disabled', :target => "_blank" %></li>
            <li><%= link_to "<i class='icon-trash'></i> Delete".html_safe,
                    character_path(@character),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'button alert' %></li>
            <% if @character.may_set_create? && !@character.creation? %>
              <li><%= link_to "<i class='icon-wrench'></i> Creation".html_safe, creation_character_path(@character), :class => 'button info' %></li>
            <% end %>
            <% if @character.may_activate? %>
              <li><%= link_to "<i class='icon-ok'></i> Activate".html_safe, activate_character_path(@character), :class => 'button  success' %></li>
            <% end %>
            <% if @character.may_retire? %>
              <li><%= link_to "<i class='icon-fire'></i> Retire".html_safe, retire_character_path(@character), :class => 'button alert' %>  </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="medium-3 columns">
    <div class="row">
      <div class="medium-12 columns panel <% if @experience_cost[:total_cost] > @experience_cost[:available_experience] %>callout<% end %> experience-cost">
        <h4>Experience Points</h4>
          <table class="exp-table">
            <tbody>
              <tr>
                <th>Experience:</th><th>Spent:</th>
              </tr>
              <tr>
                <td><%= @experience_cost[:available_experience] %> xp</td>
                <td><%= @experience_cost[:total_cost] %> xp</td>
              </tr>
            </tbody>
          </table>
          <% if @experience_cost[:total_cost] > @experience_cost[:available_experience] %>
            <p style="font-weight: bold"><i class='icon-thumbs-down'> You have spent more experience than you have available!</i></p>
          <% elsif @experience_cost[:total_cost] < @experience_cost[:available_experience] %>
            <p style="font-weight: bold"><i class='icon-thumbs-up'> You still have <%= @experience_cost[:available_experience] - @experience_cost[:total_cost] %> experience to spend.</i></p>
          <% end %>

          <% if @experience_cost[:total_cost] > 0 %>
            <h4>Where did it go?</h4>
            <% @experience_cost.each do |key, cost| %>
              <% case key %>
              <% when /^header_/ %>
                <% header = key.to_s
                   header["header_"] = "" %>
                <h5 class="experience-cost-header"><%= header.capitalize %></h5>
              <% when :total_cost %>
              <% when :starting_experience %>
              <% when :earned_experience %>
              <% when :available_experience %>
              <% else %>
              <%# unless key == :total_cost %>
                <%= "<strong>#{key.to_s.humanize.camelize}:</strong> #{cost.inspect}".html_safe %> xp<br />
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="medium-12 columns panel">
          <h5>Credits</h5>
          <%= @character.credits %>
        </div>
      </div>
      <div class="row">
        <div class="medium-12 columns panel">
          <h4>Obligation <small>(<%= @character.character_obligations.sum(:magnitude) %>)</small></h4>
          <% @character.character_obligations.each do |obl| %>
          <% unless obl.obligation_id.nil? %>
            <h5><%= obl.obligation.name %> <small>(<%= obl.magnitude %>)</small></h5>
            <% unless obl.description.nil? %>
              <%= text_replace_tokens(obl.description) %>
            <% end -%>
            <hr />
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>