<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <b>Species:</b>
  <%= @character.species %>
</p>

<p>
  <b>Gender:</b>
  <%= @character.gender %>
</p>

<p>
  <b>Age:</b>
  <%= @character.age %>
</p>

<p>
  <b>Career:</b>
  <%= @character.career %>
</p>

<p>
  <b>Brawn:</b>
  <%= @character.brawn %>
</p>

<p>
  <b>Agility:</b>
  <%= @character.agility %>
</p>

<p>
  <b>Intellect:</b>
  <%= @character.intellect %>
</p>

<p>
  <b>Cunning:</b>
  <%= @character.cunning %>
</p>

<p>
  <b>Willpower:</b>
  <%= @character.willpower %>
</p>

<p>
  <b>Presence:</b>
  <%= @character.presence %>
</p>


<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
