<div class="row">
  <div class="small-12 columns">
    <h1><%=t '.title', :default => "#{@character.name} - Skills" %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= render :partial => 'character_edit_menu' %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= form_for @character do |character_form| %>
      <table>
        <tr>
          <th>Skills</th>
          <th>Characteristic</th>
          <th>Career?</th>
          <th>Rank</th>
        </tr>
        <%= character_form.fields_for :character_skills do |skill_fields| %>
          <% skill = Skill.find_by_id(skill_fields.object.skill_id) %>
          <% unless skill.nil? %>
            <tr>
              <td><%= character_form.label :ranks, skill.name, :class => 'control-label' %></td>
              <td><%= skill.characteristic.truncate(3, :omission => '') %></td>
              <td>
                <% unless @character.career.nil? -%>
                  <% if( is_career_skill(skill_fields.object.skill_id)) %>YES<% end %>
                <% end -%>
              </td>
              <%
                skill_minimum = 0
                unless @character.career.nil?
                  skill_minimum = skill_fields.object.free_ranks_career + skill_fields.object.free_ranks_specialization +       skill_fields.object.free_ranks_race
                end

                if @character.creation?
                  skill_maximum = 2
                else
                  skill_maximum = 5
                end
                if skill_minimum > skill_maximum
                  skill_minimum = skill_maximum
                end
              %>
              <td><%= skill_fields.select :ranks, (skill_minimum..skill_maximum) %></td>
            </tr>
          <% end %>
        <% end %>
      </table>

      <%= hidden_field_tag 'destination', 'skills' %>
      <%= character_form.submit "Save skills", :class => 'button' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                characters_path, :class => 'button secondary' %>
    <% end %>
  </div>
</div>
