<%- model_class = CharacterSkill -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Edit skills for #{@character.name}" %></h1>
</div>
<% unless @character_state['state_message'].nil? %>
  <div class="alert alert-<%= @character_state['state_alert_class'] %>">
    <span class="label label-<%= @character_state['state_label_class'] %>"><%= @character_state['state_short'] %></span> <%= @character_state['state_message'] %>
  </div>
<% end %>

<%= render :partial => 'character_edit_menu' %>

<%= form_for @character do |character_form| %>
<table>
  <tr>
    <th>Skills</th>
    <th>Characteristic</th>
    <th>Career?</th>
    <th>Rank</th>
  </tr>
  <%= character_form.fields_for :character_skills do |skill_fields| %>
    <% skill = Skill.find_by_id(skill_fields.object.skill_id) %>
    <% unless skill.nil? %>
      <tr>
        <td><%= character_form.label :ranks, skill.name, :class => 'control-label' %></td>
        <td><%= skill.characteristic.truncate(3, :omission => '') %></td>
        <td>
          <% if( is_career_skill(skill_fields.object.skill_id)) %>YES<% end %>
        </td>
        <% 
          #race_skill = RaceSkill.where(:skill_id => skill.id, :race_id => @character.race.id).first
          #career_free_rank = CharacterStartingSkillRank.where(:character_id => @character.id, :skill_id => skill.id, :granted_by => 'career').first
          #specialization_free_rank = CharacterStartingSkillRank.where(:character_id => @character.id, :skill_id => skill.id, :granted_by => 'specialization').first
          skill_minimum = 0
          logger.warn(skill_fields.object.inspect)
          skill_minimum = skill_fields.object.free_ranks_career + skill_fields.object.free_ranks_specialization + skill_fields.object.free_ranks_race
          #unless race_skill.nil?
          #  skill_minimum += 1
          #end
          #unless career_free_rank.nil?
          #  skill_minimum += 1
          #end
          #unless specialization_free_rank.nil?
          #  skill_minimum += 1
          #end
          #skill_maximum = if @character.creation? then 2 else 5 end
          if @character.creation?
            skill_maximum = 2
          else
            skill_maximum = 5
          end
          if skill_minimum > skill_maximum
            skill_minimum = skill_maximum
          end      

          if skill_fields.object.skill_id == 25
            logger.warn(skill_minimum)
            logger.warn(skill_maximum)
          end
        %>
        <td><%= skill_fields.select :ranks, (skill_minimum..skill_maximum) %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<div class="form-actions">
  <%= hidden_field_tag 'destination', 'skills' %>
  <%= character_form.submit nil, :class => 'btn btn-primary' %>
</div>
<% end %>

