<div class="row">
  <div class="small-12 columns">
    <h1><%=t '.title', :default => "#{@character.name} - Skills" %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= render :partial => 'character_edit_menu' %>
  </div>
</div>
<div class="row">
  <div class="small-9 columns">
    <table>
      <tr>
        <th>Skill</th>
        <th>Characteristic</th>
        <th>Ranks</th>
        <th>Race</th>
        <th>Class</th>
        <th>Specialization</th>
        <th>Equipment</th>
        <th>Total</th>
      </tr>
      <% @character.skills.each do |skill| %>
        <% character_skill = CharacterSkill.where(:character_id => @character.id, :skill_id => skill.id).first %>
        <tr>
          <td><% if( is_career_skill(skill.id)) %><strong><% end %><%= skill.name %><% if( is_career_skill(skill.id)) %> *</strong><% end %></td>
          <td><%= skill.characteristic.truncate(3, :omission => '') %></td>
          <%
            total_ranks_free = character_skill.free_ranks_race + character_skill.free_ranks_career + character_skill.free_ranks_specialization + character_skill.free_ranks_equipment
            total_ranks = character_skill.ranks + total_ranks_free

            rank_options = Array.new
            rank_options << 0
            6.times do |rank|
              if rank > total_ranks_free && rank != 0
                rank_options << rank
              end
              if @character.creation? and rank == 2
                break
              end
            end

            if @character.creation?
              max_ranks = 2
            else
              max_ranks = 5
            end
          %>
          <td style="text-align: center;">
          <% if total_ranks < max_ranks %>
            <%= link_to "+", "/characters/#{@character.id}/skills/#{skill.id}/rank_up" %>
          <% end %>
          <%= character_skill.ranks %>
          <% if character_skill.ranks != 0 %>
            <%= link_to "-", "/characters/#{@character.id}/skills/#{skill.id}/rank_down" %>
          <% end -%>
          </td>
          <td style="text-align: center;"><%= "+#{character_skill.free_ranks_race}" unless character_skill.free_ranks_race == 0 %></td>
          <td style="text-align: center;"><%= "+#{character_skill.free_ranks_career}" unless character_skill.free_ranks_career == 0 %></td>
          <td style="text-align: center;"><%= "+#{character_skill.free_ranks_specialization}" unless character_skill.free_ranks_specialization == 0 %></td>
          <td style="text-align: center;"><%= "+#{character_skill.free_ranks_equipment}" unless character_skill.free_ranks_equipment == 0 %></td>
          <td style="text-align: center;"><%= total_ranks %> </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="small-3 columns">
    <div class="row">
      <%= render :partial => 'character_experience_usage' %>
    </div>
  </div>
</div>
