<div class="row">
  <div class="small-12 columns">
    <h1><%=t '.title', :default => "#{@character.name} - Skills" %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= render :partial => 'character_edit_menu' %>
  </div>
</div>
<div class="row">
  <div class="small-9 columns">
    <div class="row">
      <div class="small-12 columns">
        <%= render :partial => 'free_skill_ranks_form', :locals => {:career_free_rank => @career_free_rank} %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <table>
          <tr>
            <th>Skill</th>
            <th>Characteristic</th>
            <th>Ranks</th>
            <th>Race</th>
            <th>Class</th>
            <th>Specialization</th>
            <th>Equipment</th>
            <th>Total</th>
          </tr>
          <% @character.skills.each do |skill| %>
            <tr id="skill-row-<%= skill.id %>">
              <%= render :partial => 'character_skill_row', :locals => {:skill => skill} %>
            </tr>
          <% end %>
        </table>
     </div>
    </div>
  </div>
  <div class="small-3 columns">
    <div class="row" id="experience_usage_bar">
      <%= render :partial => 'character_experience_usage' %>
    </div>
  </div>
</div>
