<%- model_class = Character -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Edit talents for #{@character.name}" %></h1>
</div>
<%= render :partial => 'character_edit_menu' %>

<%= form_for @character do |character_form| %>
  <%= hidden_field_tag 'update_talents', 'true' %>

  <% @talent_trees.each do |tree| %>
    <% @character_tree_talents = CharacterTalent.where("talent_tree_id = ? AND character_id = ?", tree.id, @character.id) %>
    <div class="well">
      <strong><%= tree.name %></strong><br />
      <%= tree.description.html_safe %>
      <table class="table table-striped talent-tree">
        <colgroup>
          <col width="22%" />
          <col width="4%" />
          <col width="22%" />
          <col width="4%" />
          <col width="22%" />
          <col width="4%" />
          <col width="22%" />
        </colgroup>
        <tr>
          <td>
            <% if !tree.talent_1_1.nil? %>
              <strong><%= Talent.find_by_id(tree.talent_1_1).name %></strong>
              <%= check_box_tag "tree_#{tree.id}-talent_1_1", tree.talent_1_1, (@character_tree_talents.first.talent_1_1 unless @character_tree_talents.first.nil?) %><br />
              <%= text_replace_tokens(Talent.find_by_id(tree.talent_1_1).description) %>
            <% end%>
          </td>
          <td></td>
          <td>
            <% if !tree.talent_1_2.nil? %>
              <strong><%= Talent.find_by_id(tree.talent_1_2).name %></strong>
              <%= check_box_tag "tree_#{tree.id}-talent_1_2", tree.talent_1_2, (@character_tree_talents.first.talent_1_2 unless @character_tree_talents.first.nil?) %><br />
              <%= text_replace_tokens(Talent.find_by_id(tree.talent_1_2).description) %>
            <% end%>
          </td>
          <td></td>
          <td>
            <% if !tree.talent_1_3.nil? %>
              <strong><%= Talent.find_by_id(tree.talent_1_3).name %></strong>
              <%= check_box_tag "tree_#{tree.id}-talent_1_3", tree.talent_1_3, (@character_tree_talents.first.talent_1_3 unless @character_tree_talents.first.nil?) %><br />
              <%= text_replace_tokens(Talent.find_by_id(tree.talent_1_3).description) %>
            <% end%>
          </td>
          <td></td>
          <td>
            <% if !tree.talent_1_4.nil? %>
              <strong><%= Talent.find_by_id(tree.talent_1_4).name %></strong>
              <%= check_box_tag "tree_#{tree.id}-talent_1_4", tree.talent_1_4, (@character_tree_talents.first.talent_1_4 unless @character_tree_talents.first.nil?) %><br />
              <%= text_replace_tokens(Talent.find_by_id(tree.talent_1_4).description) %>
            <% end%>
          </td>
        </tr>
        <tr>
          <td class='vertical-link link-<%= tree.talent_2_1_require_1_1.to_s %>'></td>
          <td></td>
          <td class='vertical-link link-<%= tree.talent_2_2_require_1_2.to_s %>'></td>
          <td></td>
          <td class='vertical-link link-<%= tree.talent_2_3_require_1_3.to_s %>'></td>
          <td></td>
          <td class='vertical-link link-<%= tree.talent_2_4_require_1_4.to_s %>'></td>
        </tr>
        <tr>
          <td>
            <% if !tree.talent_2_1.nil? %>
              <strong><%= Talent.find_by_id(tree.talent_2_1).name %></strong>
              <%= check_box_tag "tree_#{tree.id}-talent_2_1", tree.talent_2_1, (@character_tree_talents.first.talent_2_1 unless @character_tree_talents.first.nil?) %><br />
              <%= text_replace_tokens(Talent.find_by_id(tree.talent_2_1).description) %>
            <% end %>
          </td>
          <td class='horizontal-link link-<%= tree.talent_2_1_require_2_2.to_s %>'></td>
          <td>
            <% if !tree.talent_2_2.nil? %>
              <strong><%= Talent.find_by_id(tree.talent_2_2).name %></strong>
              <%= check_box_tag "tree_#{tree.id}-talent_2_2", tree.talent_2_2, (@character_tree_talents.first.talent_2_2 unless @character_tree_talents.first.nil?) %><br />
              <%= text_replace_tokens(Talent.find_by_id(tree.talent_2_2).description) %>
            <% end %>
          </td>
          <td class='horizontal-link link-<%= tree.talent_2_2_require_2_3.to_s %>'></td>
          <td>
            <% if !tree.talent_2_3.nil? %>
              <strong><%= Talent.find_by_id(tree.talent_2_3).name %></strong>
              <%= check_box_tag "tree_#{tree.id}-talent_2_3", tree.talent_2_3, (@character_tree_talents.first.talent_2_3 unless @character_tree_talents.first.nil?) %><br />
              <%= text_replace_tokens(Talent.find_by_id(tree.talent_2_3).description) %>
            <% end %>
          </td>
          <td class='horizontal-link link-<%= tree.talent_2_3_require_2_4.to_s %>'></td>
          <td>
            <% if !tree.talent_2_4.nil? %>
              <strong><%= Talent.find_by_id(tree.talent_2_4).name %></strong>
              <%= check_box_tag "tree_#{tree.id}-talent_2_4", tree.talent_2_4, (@character_tree_talents.first.talent_2_4 unless @character_tree_talents.first.nil?) %><br />
              <%= text_replace_tokens(Talent.find_by_id(tree.talent_2_4).description) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class='vertical-link link-<%= tree.talent_3_1_require_2_1.to_s %>'></td>
          <td></td>
          <td class='vertical-link link-<%= tree.talent_3_2_require_2_2.to_s %>'></td>
          <td></td>
          <td class='vertical-link link-<%= tree.talent_3_3_require_2_3.to_s %>'></td>
          <td></td>
          <td class='vertical-link link-<%= tree.talent_3_4_require_2_4.to_s %>'></td>
        </tr>
        <tr>
          <td>
            <% if !tree.talent_3_1.nil? %>
              <strong><%= Talent.find_by_id(tree.talent_3_1).name %></strong>
              <%= check_box_tag "tree_#{tree.id}-talent_3_1", tree.talent_3_1, (@character_tree_talents.first.talent_3_1 unless @character_tree_talents.first.nil?) %><br />
              <%= text_replace_tokens(Talent.find_by_id(tree.talent_3_1).description) %>
            <% end %>
          </td>
          <td class='horizontal-link link-<%= tree.talent_3_1_require_3_2.to_s %>'></td>
          <td>
            <% if !tree.talent_3_2.nil? %>
              <strong><%= Talent.find_by_id(tree.talent_3_2).name %></strong>
              <%= check_box_tag "tree_#{tree.id}-talent_3_2", tree.talent_3_2, (@character_tree_talents.first.talent_3_2 unless @character_tree_talents.first.nil?) %><br />
              <%= text_replace_tokens(Talent.find_by_id(tree.talent_3_2).description) %>
            <% end %>
          </td>
          <td class='horizontal-link link-<%= tree.talent_3_2_require_3_3.to_s %>'></td>
          <td>
            <% if !tree.talent_3_3.nil? %>
              <strong><%= Talent.find_by_id(tree.talent_3_3).name %></strong>
              <%= check_box_tag "tree_#{tree.id}-talent_3_3", tree.talent_3_3, (@character_tree_talents.first.talent_3_3 unless @character_tree_talents.first.nil?) %><br />
              <%= text_replace_tokens(Talent.find_by_id(tree.talent_3_3).description) %>
            <% end %>
          </td>
          <td class='horizontal-link link-<%= tree.talent_3_3_require_3_4.to_s %>'></td>
          <td>
            <% if !tree.talent_3_4.nil? %>
              <strong><%= Talent.find_by_id(tree.talent_3_4).name %></strong>
              <%= check_box_tag "tree_#{tree.id}-talent_3_4", tree.talent_3_4, (@character_tree_talents.first.talent_3_4 unless @character_tree_talents.first.nil?) %><br />
              <%= text_replace_tokens(Talent.find_by_id(tree.talent_3_4).description) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class='vertical-link link-<%= tree.talent_4_1_require_3_1.to_s %>'></td>
          <td></td>
          <td class='vertical-link link-<%= tree.talent_4_2_require_3_2.to_s %>'></td>
          <td></td>
          <td class='vertical-link link-<%= tree.talent_4_3_require_3_3.to_s %>'></td>
          <td></td>
          <td class='vertical-link link-<%= tree.talent_4_4_require_3_4.to_s %>'></td>
        </tr>
        <tr>
          <td>
            <% if !tree.talent_4_1.nil? %>
              <strong><%= Talent.find_by_id(tree.talent_4_1).name %></strong>
              <%= check_box_tag "tree_#{tree.id}-talent_4_1", tree.talent_4_1, (@character_tree_talents.first.talent_4_1 unless @character_tree_talents.first.nil?) %><br />
              <%= text_replace_tokens(Talent.find_by_id(tree.talent_4_1).description) %>
            <% end %>
          </td>
          <td class='horizontal-link link-<%= tree.talent_4_1_require_4_2.to_s %>'></td>
          <td>
            <% if !tree.talent_4_2.nil? %>
              <strong><%= Talent.find_by_id(tree.talent_4_2).name %></strong>
              <%= check_box_tag "tree_#{tree.id}-talent_4_2", tree.talent_4_2, (@character_tree_talents.first.talent_4_2 unless @character_tree_talents.first.nil?) %><br />
              <%= text_replace_tokens(Talent.find_by_id(tree.talent_4_2).description) %>
            <% end %>
          </td>
          <td class='horizontal-link link-<%= tree.talent_4_2_require_4_3.to_s %>'></td>
          <td>
            <% if !tree.talent_4_3.nil? %>
              <strong><%= Talent.find_by_id(tree.talent_4_3).name %></strong>
              <%= check_box_tag "tree_#{tree.id}-talent_4_3", tree.talent_4_3, (@character_tree_talents.first.talent_4_3 unless @character_tree_talents.first.nil?) %><br />
              <%= text_replace_tokens(Talent.find_by_id(tree.talent_4_3).description) %>
            <% end %>
          </td>
          <td class='horizontal-link link-<%= tree.talent_4_3_require_4_4.to_s %>'></td>
          <td>
            <% if !tree.talent_4_4.nil? %>
              <strong><%= Talent.find_by_id(tree.talent_4_4).name %></strong>
              <%= check_box_tag "tree_#{tree.id}-talent_4_4", tree.talent_4_4, (@character_tree_talents.first.talent_4_4 unless @character_tree_talents.first.nil?) %><br />
              <%= text_replace_tokens(Talent.find_by_id(tree.talent_4_4).description) %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
 <% end %>

  <div class="form-actions">
    <%= hidden_field_tag 'destination', 'talents' %>
    <%= character_form.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>