<%- model_class = Character -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Edit talents for #{@character.name}" %></h1>
</div>
<% unless @character_state['state_message'].nil? %>
  <div class="alert alert-<%= @character_state['state_alert_class'] %>">
    <span class="label label-<%= @character_state['state_label_class'] %>"><%= @character_state['state_short'] %></span> <%= @character_state['state_message'] %>
  </div>
<% end %>

<%= render :partial => 'character_edit_menu' %>
<div class="row-fluid">
<div class="span9">
<%= form_for @character do |character_form| %>
  <%= hidden_field_tag 'update_talents', 'true' %>

  <% @talent_trees.each do |tree| %>
    <% @character_tree_talents = CharacterTalent.where("talent_tree_id = ? AND character_id = ?", tree.id, @character.id) %>
    <div class="well">
      <strong><%= tree.name %></strong><br />
      <%= tree.description.html_safe %>
      <table class="table table-striped talent-tree">
        <colgroup>
          <col width="22%" />
          <col width="4%" />
          <col width="22%" />
          <col width="4%" />
          <col width="22%" />
          <col width="4%" />
          <col width="22%" />
        </colgroup>
        <tr>
          <%= render :partial => 'character_talent_tree_box', :locals => { :talent_tree => tree, :row => 1, :column => 1} unless tree.talent_1_1.nil?  %>
          <td></td>
          <%= render :partial => 'character_talent_tree_box', :locals => { :talent_tree => tree, :row => 1, :column => 2} unless tree.talent_1_2.nil?  %>
          <td></td>
          <%= render :partial => 'character_talent_tree_box', :locals => { :talent_tree => tree, :row => 1, :column => 3} unless tree.talent_1_3.nil?  %>
          <td></td>
          <%= render :partial => 'character_talent_tree_box', :locals => { :talent_tree => tree, :row => 1, :column => 4} unless tree.talent_1_4.nil?  %>
        </tr>
        <tr>
          <td class='vertical-link link-<%= tree.talent_2_1_require_1_1.to_s %>'></td>
          <td></td>
          <td class='vertical-link link-<%= tree.talent_2_2_require_1_2.to_s %>'></td>
          <td></td>
          <td class='vertical-link link-<%= tree.talent_2_3_require_1_3.to_s %>'></td>
          <td></td>
          <td class='vertical-link link-<%= tree.talent_2_4_require_1_4.to_s %>'></td>
        </tr>
        <tr>
          <%= render :partial => 'character_talent_tree_box', :locals => { :talent_tree => tree, :row => 2, :column => 1} unless tree.talent_2_1.nil?  %>
          <td class='horizontal-link link-<%= tree.talent_2_1_require_2_2.to_s %>'></td>
          <%= render :partial => 'character_talent_tree_box', :locals => { :talent_tree => tree, :row => 2, :column => 2} unless tree.talent_2_2.nil?  %>
          <td class='horizontal-link link-<%= tree.talent_2_2_require_2_3.to_s %>'></td>
          <%= render :partial => 'character_talent_tree_box', :locals => { :talent_tree => tree, :row => 2, :column => 3} unless tree.talent_2_3.nil?  %>
          <td class='horizontal-link link-<%= tree.talent_2_3_require_2_4.to_s %>'></td>
          <%= render :partial => 'character_talent_tree_box', :locals => { :talent_tree => tree, :row => 2, :column => 4} unless tree.talent_2_4.nil?  %>
        </tr>
        <tr>
          <td class='vertical-link link-<%= tree.talent_3_1_require_2_1.to_s %>'></td>
          <td></td>
          <td class='vertical-link link-<%= tree.talent_3_2_require_2_2.to_s %>'></td>
          <td></td>
          <td class='vertical-link link-<%= tree.talent_3_3_require_2_3.to_s %>'></td>
          <td></td>
          <td class='vertical-link link-<%= tree.talent_3_4_require_2_4.to_s %>'></td>
        </tr>
        <tr>
          <%= render :partial => 'character_talent_tree_box', :locals => { :talent_tree => tree, :row => 3, :column => 1} unless tree.talent_3_1.nil?  %>
          <td class='horizontal-link link-<%= tree.talent_3_1_require_3_2.to_s %>'></td>
          <%= render :partial => 'character_talent_tree_box', :locals => { :talent_tree => tree, :row => 3, :column => 2} unless tree.talent_3_2.nil?  %>
          <td class='horizontal-link link-<%= tree.talent_3_2_require_3_3.to_s %>'></td>
          <%= render :partial => 'character_talent_tree_box', :locals => { :talent_tree => tree, :row => 3, :column => 3} unless tree.talent_3_3.nil?  %>
          <td class='horizontal-link link-<%= tree.talent_3_3_require_3_4.to_s %>'></td>
          <%= render :partial => 'character_talent_tree_box', :locals => { :talent_tree => tree, :row => 3, :column => 4} unless tree.talent_3_4.nil?  %>
        </tr>
        <tr>
          <td class='vertical-link link-<%= tree.talent_4_1_require_3_1.to_s %>'></td>
          <td></td>
          <td class='vertical-link link-<%= tree.talent_4_2_require_3_2.to_s %>'></td>
          <td></td>
          <td class='vertical-link link-<%= tree.talent_4_3_require_3_3.to_s %>'></td>
          <td></td>
          <td class='vertical-link link-<%= tree.talent_4_4_require_3_4.to_s %>'></td>
        </tr>
        <tr>
          <%= render :partial => 'character_talent_tree_box', :locals => { :talent_tree => tree, :row => 4, :column => 1} unless tree.talent_4_1.nil?  %>
          <td class='horizontal-link link-<%= tree.talent_4_1_require_4_2.to_s %>'></td>
          <%= render :partial => 'character_talent_tree_box', :locals => { :talent_tree => tree, :row => 4, :column => 2} unless tree.talent_4_2.nil?  %>
          <td class='horizontal-link link-<%= tree.talent_4_2_require_4_3.to_s %>'></td>
          <%= render :partial => 'character_talent_tree_box', :locals => { :talent_tree => tree, :row => 4, :column => 3} unless tree.talent_4_3.nil?  %>
          <td class='horizontal-link link-<%= tree.talent_4_3_require_4_4.to_s %>'></td>
          <%= render :partial => 'character_talent_tree_box', :locals => { :talent_tree => tree, :row => 4, :column => 4} unless tree.talent_4_4.nil?  %>
        </tr>
        <tr>
          <td class='vertical-link link-<%= tree.talent_5_1_require_4_1.to_s %>'></td>
          <td></td>
          <td class='vertical-link link-<%= tree.talent_5_2_require_4_2.to_s %>'></td>
          <td></td>
          <td class='vertical-link link-<%= tree.talent_5_3_require_4_3.to_s %>'></td>
          <td></td>
          <td class='vertical-link link-<%= tree.talent_5_4_require_4_4.to_s %>'></td>
        </tr>
        <tr>
          <%= render :partial => 'character_talent_tree_box', :locals => { :talent_tree => tree, :row => 5, :column => 1} unless tree.talent_5_1.nil?  %>
          <td class='horizontal-link link-<%= tree.talent_5_1_require_5_2.to_s %>'></td>
          <%= render :partial => 'character_talent_tree_box', :locals => { :talent_tree => tree, :row => 5, :column => 2 } unless tree.talent_5_2.nil?  %>
          <td class='horizontal-link link-<%= tree.talent_5_2_require_5_3.to_s %>'></td>
          <%= render :partial => 'character_talent_tree_box', :locals => { :talent_tree => tree, :row => 5, :column => 3 } unless tree.talent_5_3.nil?  %>
          <td class='horizontal-link link-<%= tree.talent_5_3_require_5_4.to_s %>'></td>
          <%= render :partial => 'character_talent_tree_box', :locals => { :talent_tree => tree, :row => 5, :column => 4 } unless tree.talent_5_4.nil?  %>
        </tr>
      </table>
    </div>
 <% end %>

  <% unless @character.specialization_1.nil? %>
    <div class="form-actions">
      <%= hidden_field_tag 'destination', 'talents' %>
      <%= character_form.submit nil, :class => 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
</div>
<div class="span3">
  <div class="well well-small">
    <h5>Select Specializations</h5>
    <%= form_for @character do |specializations_form| %>
      <%= select('character', 'specialization_1', TalentTree.where("career_id = ?", @character.career_id).collect {|tree| [tree.name, tree.id]}, {:prompt => "Select first specialization", :include_blank => true}) %>
      <% unless @character.specialization_1.nil? %>
        <%= select('character', 'specialization_2', TalentTree.find(:all, :conditions => ['id not in (?)', @character.specialization_1]).collect {|tree| [tree.name, tree.id]}, {:prompt => "Select second specialization", :include_blank => true}) %>
      <% end %>
      <% unless @character.specialization_2.nil? %>
        <%= select('character', 'specialization_3', TalentTree.find(:all, :conditions => ['id not in (?)', [@character.specialization_1, @character.specialization_2]]).collect {|tree| [tree.name, tree.id]}, {:prompt => "Select third specialization", :include_blank => true}) %>
      <% end %>
      <div class="form-actions">
        <%= hidden_field_tag 'destination', 'talents' %>
        <%= specializations_form.submit nil, :class => 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
  <div class="well well-small">
    <h5>Selecting Specializations</h5>
    <p>Each character starts with a single specialization within his chosen career. However, he may purchase access to any additional specializations in any career.</p>
    <p>The character gains a number of bonus class skills from each specialization, but only the first specialization chosen awards free ranks in a number of these bonus class skills.</p>
    <p>Purchasing an additional specialization within a character’s career costs ten times the total number of specializations he would possess with this new specialization. So a character with one specialization could purchase a second career specialization for 20 experience. If he wished to purchase a third career specialization, it would cost 30 experience.</p>
    <p>Characters may also purchase additional specializations outside of their career. Purchasing non-career specializations costs ten times the total number of specializations he would possess with this new specialization, plus an additional 10 experience. So a character with one specialization could purchase a second–non-career–specialization for 30 experience. If he had two specializations already, a third specialization that was also a non-career specialization would cost 40 experience.</p>
  </div>
</div>
</div>