<div class="row">
  <div class="medium-12 columns">
    <h1><%=t '.title', :default => "Edit equipped weapons for #{@character.name}" %></h1>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <%= render :partial => 'character_edit_menu' %>
  </div>
</div>
<%= form_for @character do |character_form| %>
   <div id="character-weapons" class="row">
    <div class="medium-12 columns">
      <ul class="small-block-grid-3">
        <%= character_form.fields_for :character_weapons do |weapon| %>
          <%= render 'character_weapon_fields', :f => weapon %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <%= link_to_add_association 'Add new weapon', character_form, :character_weapons, 'data-association-insertion-node' => "#character-weapons ul.small-block-grid-3", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|weapon| weapon.build_weapon; weapon }, :class => 'button success small' %>
      <%= hidden_field_tag 'destination', 'weapons' %>
      <%= character_form.submit 'Save weapons', :class => 'button small' %>
    </div>
  </div>
<% end %>

