<%- model_class = CharacterSkill -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Edit equipped weapons for #{@character.name}" %></h1>
</div>
<%= render :partial => 'character_edit_menu' %>

<%= form_for @character do |character_form| %>
<fieldset id="character-weapons"> 
    <ul> 
      <%= character_form.fields_for :character_weapons do |weapon| %> 
        <%= render 'character_weapon_fields', :f => weapon %> 
      <% end %> 
    </ul> 
    <%= link_to_add_association 'Add weapon', character_form, :character_weapons, 'data-association-insertion-node' => "#character-weapons ul", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|weapon| weapon.build_weapon; weapon }, :class => 'btn btn-warning' %> 
  </fieldset>
  <div class="form-actions">
    <%= character_form.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>

