- content_for :title do
  Gear

.row
  .small-12.columns
    %h1
      Gear
      - if can? :create, @gear
        %small
          = link_to "<i class='fi-plus'></i>".html_safe, new_gear_path

.row
  .small-12.columns
    %table.footable{ data: { sort: 'false', page: 'false' } }
      %thead
        %tr
          %th{ data: { toggle: 'true' } } Name
          %th{ data: { hide: 'all' } }
          %th{ data: { hide: 'phone' } } Price
          %th{ data: { hide: 'phone', name: 'Encumbrance' } } Encum
          %th{ data: { hide: 'phone' } } Rarity
      - @gear_categories.each do |category|
        - if category.gears.any?
          %tr
            %th{colspan: "4", style: "background-color: #000; color: #fff;"}= category.name.pluralize
          - category.gears.each do |gear|
            %tr
              %td
                = link_to gear.name, gear_path(gear)
                - if can? :edit, @gear
                  %small
                    = link_to "<i class='fi-pencil'></i>".html_safe, edit_gear_path(gear)
              %td= markdown(text_replace_tokens(gear.description))
              %td
                %span.footable-details-label Price:
                = gear.price
              %td
                %span.footable-details-label Encumbrance:
                = gear.encumbrance
              %td
                %span.footable-details-label Rarity:
                = gear.rarity
