<%- model_class = Gear -%>
<div class="row">
  <div class="small-12 columns">
    <h1><%= @gear.name %></h1>
  </div>
</div>
<div class="row">
  <div class="small-9 columns">

    <p><%= @gear.description %></p>

    <dl>
      <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
      <dd><%= @gear.price %></dd>
      <dt><strong><%= model_class.human_attribute_name(:encumbrance) %>:</strong></dt>
      <dd><%= @gear.encumbrance %></dd>
    </dl>
  </div>
  <div class="small-3 columns panel">
    <% unless @gear.image_url.blank? %>
      <img src="<%= @gear.image_url %>" />
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= link_to t('.back', :default => t("helpers.links.back")),
              '/gears', :class => 'button'  %>
  </div>
</div>

