= simple_form_for(@motivation) do |f|
  - if @motivation.errors.any?
    .alert-box.warning.radius{"data-alert" => ""}
      %p
        = pluralize(@motivation.errors.count, "error")
        prohibited this motivation from being saved:
      %ul
        - @motivation.errors.full_messages.each do |msg|
          %li= msg
  .row
    .medium-6.small-12.columns
      .row
        .small-3.columns
          = f.label :name, :class => 'inline right'
        .small-9.columns
          = f.input :name, :placeholder => 'Motivation name', label: false
      .row
        .small-3.columns
          = f.label :description, :class => 'inline right'
        .small-9.columns
          = f.input :description, :placeholder => 'Motivation description', label: false
          %a{"data-reveal-id" => "markdown", href: "#"}= "Markdown syntax"
          .reveal-modal.large{"data-reveal" => "", id: "markdown"}
            = find_and_preserve render :partial => 'layouts/markdown'
            %a.close-reveal-modal ×
      .row
        .small-3.columns
          = f.label :career_id, :class => 'inline right'
        .small-9.columns
          = f.input :career_id, as: :select, label: false, :collection => Career.where(:true)

  .row
    .small-12.columns
      .form-actions
        = f.submit nil, :class => 'button'
        = link_to t('.cancel', :default => t("helpers.links.cancel")), motivations_path, :class => 'button secondary'
