<div class="row">
  <div class="small-12 columns">
    <h1><%=t '.title', :default => "Manage equipped weapons for #{@adversary.name}" %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= render :partial => 'adversaries/adversary_edit_menu' %>
  </div>
</div>
<%= form_for @adversary do |adversary_form| %>
  <%= adversary_form.hidden_field :id %>
   <div id="adversary-weapons" class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3" id="item-grid">
        <%= adversary_form.fields_for :adversary_weapons do |weapon| %>
          <%= render 'adversary_weapon_fields', :f => weapon %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= link_to_add_association 'Add new weapon', adversary_form, :adversary_weapons, 'data-association-insertion-node' => "#item-grid", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|weapon| weapon.build_weapon; weapon }, :class => 'button success small' %>
      <%= hidden_field_tag 'destination', 'weapons' %>
      <%= adversary_form.submit 'Save weapons', :class => 'button small' %>
    </div>
  </div>
<% end %>

