- content_for :title do
  Vehicle Weapons

.row
  .small-12.columns
    %h1
      Vehicle Weapons
      - if can? :create, @vehicle_weapon
        %small
          = link_to "<i class='fi-plus'></i>".html_safe, new_vehicle_weapon_path
    %dl.sub-nav
      %dd{:class => ("active" if current_page('starships'))}
        = link_to "Starships", starships_path
      %dd{:class => ("active" if current_page('vehicle_weapons'))}
        = link_to "Weapons", vehicle_weapons_path
      /%dd{:class => ("active" if current_page('weapon_attachments'))}
      /  = link_to "Attachments", weapon_attachments_path

.row
  .small-12.columns
    %table.footable{data: {sort: 'false', page: 'false'}}
      %thead
        %tr
          %th Name
          %th Range
          %th Damage
          %th Critical
          %th Price
          %th Rarity
          %th Size low
          %th Size high
          - if can? :edit, @vehicle_weapon
            %th
      %tbody
        - @vehicle_weapons.each do |vehicle_weapon|
          %tr
            %td
              = vehicle_weapon.name
              - if can? :edit, @vehicle_weapon
                %small
                  = link_to "<i class='fi-pencil'></i>".html_safe, edit_vehicle_weapon_path(vehicle_weapon)
            %td= vehicle_weapon.range
            %td= vehicle_weapon.damage
            %td= vehicle_weapon.critical
            %td= vehicle_weapon.price
            %td= vehicle_weapon.rarity
            %td= vehicle_weapon.size_low
            %td= vehicle_weapon.size_high
            - if can? :edit, @vehicle_weapon
              %td= link_to 'Destroy', vehicle_weapon, :method => :delete, :data => { :confirm => 'Are you sure?' }


