<% character_skill = CharacterSkill.where(:character_id => @character.id, :skill_id => skill.id).first %>
<td><% if( is_career_skill(skill.id, false, @character)) %><strong><% end %><%= skill.name %><% if( is_career_skill(skill.id, false, @character)) %> *</strong><% end %></td>
<td><%= skill.characteristic.truncate(3, :omission => '') %></td>
<%
  total_ranks_free = skill_total_free_ranks(character_skill)
  total_ranks = skill_total_ranks(character_skill)

  rank_options = Array.new
  rank_options << 0
  6.times do |rank|
    if rank > total_ranks_free && rank != 0
      rank_options << rank
    end
    if @character.creation? and rank == 2
      break
    end
  end

  if @character.creation?
    max_ranks = 2

    # Check id racial trait raises creation rank limit for some skills.
    if @character.race.respond_to?("#{@character.race.name.gsub(' ', '').downcase}_traits")
      traits = @character.race.send("#{@character.race.name.gsub(' ', '').downcase}_traits")
      if traits[:skill_rank_creation_limit]
        traits[:skill_rank_creation_limit].each do |skill_id, skill_rank_limit|
          if skill_id == skill.id
            max_ranks = skill_rank_limit
          end
        end
      end
    end
  else
    max_ranks = 5
  end
%>
<td style="text-align: center;">
<% if character_skill.ranks != 0 and @skill_select_enabled %>
  <%= link_to "-", "/characters/#{@character.id}/skills/#{skill.id}/rank_down", :remote => :true %>
<% end %>
<%= character_skill.ranks %>
<% if total_ranks < max_ranks and @skill_select_enabled %>
  <%= link_to "+", "/characters/#{@character.id}/skills/#{skill.id}/rank_up", :remote => :true %>
<% end %>
</td>
<td style="text-align: center;"><%= "+#{character_skill.free_ranks_race}" unless character_skill.free_ranks_race == 0 %></td>
<td style="text-align: center;"><%= "+#{character_skill.free_ranks_career}" unless character_skill.free_ranks_career == 0 %></td>
<td style="text-align: center;"><%= "+#{character_skill.free_ranks_specialization}" unless character_skill.free_ranks_specialization == 0 %></td>
<td style="text-align: center;"><%= "+#{character_skill.free_ranks_equipment}" unless character_skill.free_ranks_equipment == 0 %></td>
<td style="text-align: center;"><%= total_ranks %> </td>
