<%= form_for([@character, @character.character_adventure_logs.build]) do |f| %>
  <div class="row collapse">
    <div class="small-3 columns">
      <span class="radius"><%= f.label :date, :class=> 'inline' %></span>
    </div>
    <div class="small-9 columns">
      <%= f.date_field :date %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :log %>
      <%= f.text_area :log, :class => 'text_area input-block-level' %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-6 columns">
      <span class="radius"><%= f.label :experience, :class=> 'inline' %></span>
    </div>
    <div class="small-6 columns">
      <%= f.number_field :experience %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="form-actions">
        <%= f.submit 'Save', :class => 'button tiny' %>
      </div>
    </div>
  </div>
<% end %>