= simple_form_for @starship, html: { class: 'form-horizontal' } do |f|
  - if @starship.errors.any?
    .alert-box.warning.radius{"data-alert" => ""}
      %p
        = pluralize(@starship.errors.count, "error")
        prohibited this starship from being saved:
      %ul
        - @starship.errors.full_messages.each do |msg|
          %li= msg

  .row
    .medium-4.small-12.columns
      .row
        .small-3.columns
          = f.label :name, class: 'inline right'
        .small-9.columns
          = f.input :name, :placeholder => 'Starship name', label: false
      .row
        .small-3.columns
          = f.label :description, class: 'inline right'
        .small-9.columns
          = f.input :description, :placeholder => 'Starship description', label: false, as: :text, :input_html => { :rows => 10 }
          %a{"data-reveal-id" => "markdown", href: "#"}= "Markdown syntax"
          .reveal-modal.large{"data-reveal" => "", id: "markdown"}
            = find_and_preserve render 'layouts/markdown'
            %a.close-reveal-modal ×
      .row
        .small-3.columns
          = f.label :starship_category_id, "Category", class: 'inline right'
        .small-9.columns
          = f.input :starship_category_id, :as => :select, :collection => StarshipCategory.where(:true), :label => false
      .row
        .small-3.columns
          = f.label :hull_type, class: 'inline right'
        .small-9.columns
          = f.input :hull_type, :placeholder => 'Hull Type / Class', label: false
      .row
        .small-3.columns
          = f.label :manufacturer, class: 'inline right'
        .small-9.columns
          = f.input :manufacturer, label: false
      .row
        .small-3.columns
          = f.label :book_id, class: 'inline right'
        .small-9.columns
          = f.input :book_id, as: :select, label: false, collection: Book.where(:true)
      .row.panel
        .small-12.columns
          %h4 Weapons
          = f.simple_fields_for :starship_vehicle_weapons do |builder|
            = render 'starship_vehicle_weapon_fields', :f => builder
          = link_to_add_fields "<i class='fi-plus'> Add Weapon</i>".html_safe, f, :starship_vehicle_weapons


    .medium-4.small-12.columns
      .row
        .small-3.columns
          = f.label :silhouette, class: 'inline right'
        .small-3.columns
          = f.input :silhouette, label: false
        .small-3.columns
          = f.label :speed, class: 'inline right'
        .small-3.columns
          = f.input :speed, label: false
      .row
        .small-3.columns
          = f.label :handling, class: 'inline right'
        .small-3.columns
          = f.input :handling, label: false
        .small-3.columns
          = f.label :armor, class: 'inline right'
        .small-3.columns
          = f.input :armor, label: false
      .row
        .small-3.columns
          = f.label :encumbrance_capacity, 'Encumbrance', class: 'inline right'
        .small-3.columns
          = f.input :encumbrance_capacity, label: false
        .small-3.columns
          = f.label :passenger_capacity, 'Passengers', class: 'inline right'
        .small-3.columns
          = f.input :passenger_capacity, label: false
      .row
        .small-3.columns
          = f.label :consumables, class: 'inline right'
        .small-3.columns
          = f.input :consumables, label: false
        .small-3.columns
          = f.label :sensor_range, class: 'inline right'
        .small-3.columns
          = f.input :sensor_range, label: false
      .row
        .small-3.columns
          = f.label :hyperdrive_class_primary, '1. Hyperdrive', class: 'inline right'
        .small-3.columns
          = f.input :hyperdrive_class_primary, label: false, placeholder: 'Class'
        .small-3.columns
          = f.label :hyperdrive_class_secondary, '2. Hyperdrive', class: 'inline right'
        .small-3.columns
          = f.input :hyperdrive_class_secondary, label: false, placeholder: 'Class'
      .row
        .small-3.columns
          = f.label :navicomputer, class: 'inline right'
        .small-3.columns
          = f.input :navicomputer, label: false
        .small-3.columns
          = f.label :hard_points, class: 'inline right'
        .small-3.columns
          = f.input :hard_points, label: false
      .row.panel
        .small-12.columns
          %h4 Crew Complement
          = f.simple_fields_for :starship_crews do |builder|
            = render 'starship_crew_fields', :f => builder
          = link_to_add_fields "<i class='fi-plus'> Add Crew</i>".html_safe, f, :starship_crews

    .medium-4.small-12.columns
      .row
        .small-3.columns
          = f.label :hull_trauma_threshold, 'Hull TH', class: 'inline right'
        .small-3.columns
          = f.input :hull_trauma_threshold, label: false
        .small-3.columns
          = f.label :system_strain_threshold, 'Strain TH', class: 'inline right'
        .small-3.columns
          = f.input :system_strain_threshold, label: false
      .row
        .small-3.columns
          = f.label :defense_fore, 'Def fore', class: 'inline right'
        .small-3.columns
          = f.input :defense_fore, label: false
        .small-3.columns
          = f.label :defense_aft, 'Def aft', class: 'inline right'
        .small-3.columns
          = f.input :defense_aft, label: false
      .row
        .small-3.columns
          = f.label :defense_starboard, 'Def starboard', class: 'inline right'
        .small-3.columns
          = f.input :defense_starboard, label: false
        .small-3.columns
          = f.label :defense_port, 'Def port', class: 'inline right'
        .small-3.columns
          = f.input :defense_port, label: false
      .row
        .small-3.columns
          = f.label :cost, class: 'inline right'
        .small-3.columns
          = f.input :cost, label: false
        .small-3.columns
          = f.label :rarity, class: 'inline right'
        .small-3.columns
          = f.input :rarity, label: false

  .row
    .small-12.columns
      .form-actions
        = f.submit nil, class: 'button'
        - if @starship.new_record?
          = link_to t('.cancel', :default => t("helpers.links.cancel")), |
            starships_path, class: 'button secondary'                    |
        - else
          = link_to t('.cancel', :default => t("helpers.links.cancel")), |
            starship_path, class: 'button secondary'                    |
