- content_for :title do
  Starships

.row
  .small-12.columns
    %h1
      Starships
      - if can? :create, @starship
        %small
          = link_to "<i class='fi-plus'></i>".html_safe, new_starship_path
    %dl.sub-nav
      %dd{:class => ("active" if current_page('starships'))}
        = link_to "Starships", starships_path
      %dd{:class => ("active" if current_page('vehicle_weapons'))}
        = link_to "Weapons", vehicle_weapons_path
      /%dd{:class => ("active" if current_page('weapon_attachments'))}
      /  = link_to "Attachments", weapon_attachments_path

.row
  .small-12.columns
    %table.footable{data: {sort: 'false', page: 'false'}}
      %thead
        %tr
          %th Name
          %th Silhouette
          %th Speed
          %th Handling
          %th Armor
          %th HT threshold
          %th SS threshold
          %th Cost/Rarity
      %tbody
        - @starship_categories.each do |category|
          - if category.starships.any?
            %tr
              %th{colspan: "10", style: "background-color: #000; color: #fff;"}= category.name.pluralize
            - category.starships.each do |starship|
              %tr
                %td
                  = link_to starship.name, starship_path(starship)
                  - if can? :edit, @starship
                    - if starship.description.blank?
                      %span.alert.round.label Description missing
                    - if starship.book.blank?
                      %span.alert.round.label Book missing
                    %small
                      = link_to "<i class='fi-pencil'></i>".html_safe, edit_starship_path(starship)
                %td= starship.silhouette
                %td= starship.speed
                %td
                  - if starship.handling && starship.handling > 0
                    = "+#{starship.handling}"
                  - else
                    = starship.handling
                %td
                  /%span.footable-details-label Armor:
                  = starship.armor
                %td
                  /%span.footable-details-label Hull Trauma Threshold:
                  = starship.hull_trauma_threshold
                %td
                  /%span.footable-details-label System Strain Threshold:
                  = starship.system_strain_threshold
                %td
                  /%span.footable-details-label Cost/Rarity:
                  #{number_to_currency(starship.cost, unit: '', precision: 0)}/#{starship.rarity}
