.row
  .medium-12.columns
    %h1 Manage cybernetics for #{@character.name}
.row
  .medium-12.columns
    = render :partial => 'characters/character_edit_menu'

.row
  .small-12.medium-3.columns
    = render 'characters/character_credits_and_encumbrance'
    = simple_form_for :character_cybernetics do |f|
      = f.input :cybernetics_id, :as => :select, :collection => @cybernetics_gear, label: false
      %br/
      .row
        #item-info.small-12.columns
      .row
        .small-12.columns
          = f.input :location, :as => :select, :collection => [], label: false, placeholder: 'Location'
          = f.submit 'Save changes', :class => 'button tiny'
          = link_to "Back", user_character_armor_url(current_user, @character), :class => "button secondary tiny"
  .small-12.medium-9.columns{"data-no-turbolink" => ""}
    %h4
      = "#{@cybernetics.count == 0 ? 0 : @cybernetics_limit-@cybernetics.count} cybernetics installed out of a maximum of #{@cybernetics_limit}"
    .row
      .small-12.columns
        %div{:class => "progress round #{@cybernetics_meter_class}"}
          %span.meter{:style => "text-align: center;width: #{@cybernetics_meter > 100 ? 100 : @cybernetics_meter}%"}
        %table.footable
          %thead
            %th{data: {toggle: 'true'}} Item
            %th{data: {hide: 'all'}}
            %th{data: {hide: 'phone'}} Location
            %th{data: {hide: 'phone'}} Encumbrance
            %th{data: {hide: 'phone'}} Rarity
            %th{data: {hide: 'phone', sort: {ignore: 'true'}}}
          %tbody#item-grid
            - @cybernetics.each do |character_cybernetics|
              = render :partial => 'character_cybernetics_row', :locals => { :character_cybernetics => character_cybernetics }

