- content_for :title do
  Armor

.row
  .small-12.columns
    %h1
      Armor
      - if can? :create, @armor
        %small
          = link_to "<i class='fi-plus'></i>".html_safe, new_armor_path
    %dl.sub-nav
      %dd{:class => ("active" if current_page('armor'))}
        = link_to "Armor", "/armor"
      %dd{:class => ("active" if current_page('armor_qualities'))}
        = link_to "Qualities", armor_qualities_path
      %dd{:class => ("active" if current_page('armor_attachments'))}
        = link_to "Attachments", armor_attachments_path

.row
  .small-12.columns
    %table.footable{ data: { sort: 'false', page: { size: 1000 } } }
      %thead
        %tr
          %th{ data: { toggle: 'true', sort: { initial: 'true' } } } Name
          %th{ data: { hide: 'all' } }
          %th Defense
          %th Soak
          %th{ data: { hide: 'phone' } } Price
          %th{ data: { hide: 'phone', name: 'Encumbrance' } } Encum
          %th{ data: { hide: 'phone', name: 'Hard points' }} HP
          %th{ data: { hide: 'phone' } } Rarity
      - @armors.each do |armor|
        %tr
          %td
            = link_to armor.name, armor_path(armor)
            - if can? :edit, @armor
              %small
                = link_to "<i class='fi-pencil'></i>".html_safe, edit_armor_path(armor)
          %td= armor.description
          %td= armor.defense
          %td= armor.soak
          %td= armor.price
          %td= armor.encumbrance
          %td= armor.hard_points
          %td= armor.rarity
