<% unless f.object.armor_id.nil? %>
  <% @armor = Armor.find_by_id(f.object.armor_id) %>
    <%= f.hidden_field :armor_id %>
    <li class="nested-fields">
      <ul class="pricing-table">
        <li class="title"><%= @armor.name %></li>
        <li class="price"><%= image_tag("credit_symbol.png", :class => "credit-icon", :title => "Credits")%> <%= @armor.price %></li>
        <li class="description"><%= text_replace_tokens(@armor.description).html_safe %></li>
        <li class="description">
          <%= f.text_area :description, :placeholder => "Write your own description of your armor, such as make and model, color, or anything else that might make this armor personal." %>
          <%= f.check_box :equipped %>
          <%= f.label :equipped %>
          <%= f.check_box :carried %>
          <%= f.label :carried %>
        </li>
        <% unless @armor.armor_models.blank? %>
          <li class="bullet-item"><%= f.select :armor_model_id, @armor.armor_models.collect {|model| ["#{model.name}", model.id]}, {:prompt => "Select Model"} %></li>
        <% end -%>
        <li class="bullet-item">Enc: <%= @armor.encumbrance %></li>
        <li class="bullet-item">Rarity: <%= @armor.rarity %></li>
        <li class="bullet-item">Soak/Defense: <%= @armor.soak %>/<%= @armor.defense %></li>
        <% unless f.object.character_armor_attachments.blank? %>
          <li class="title">Attachments</li>
          <% f.object.character_armor_attachments.each do |caa| %>
            <% attachment = ArmorAttachment.find(caa.armor_attachment_id) %>
            <li class="bullet-item">
              <%= attachment.name %>
              <% unless caa.armor_attachment_modification_options.blank? %>
              <ul style="font-size: 10px;">
                <% caa.armor_attachment_modification_options.each do |option| %>
                  <% modification_option = ArmorAttachmentModificationOption.find(option) %>
                  <% unless modification_option.talent_id.nil? %>
                    <li>Innate talent: <%= Talent.find(modification_option.talent_id).name %></li>
                  <% end -%>
                  <% unless modification_option.skill_id.nil? %>
                    <li>Skill bonus: <%= Skill.find(modification_option.skill_id).name %></li>
                  <% end -%>
                <% end -%>
              </ul>
              <% end -%>
            </li>
          <% end %>
        <% end %>
        <% if @armor.hard_points > 0 %>
        <li class="cta-button"><%= link_to "Manage attachment", "/characters/#{@character.id}/armor/#{f.object.id}/attachments", :class => "button tiny" %></li>
        <% end -%>
        <li class="cta-button"><%= link_to_remove_association "remove", f, :class => 'button tiny alert' %></li>
      </ul>
    </li>
<% else %>
  <li>
    <%= f.select :armor_id, Armor.where(:true).order(:name).collect { |armor| ["#{armor.name} - #{armor.price}", armor.id]} %>
    <%= f.check_box :equipped %>
    <%= f.label :equipped %>
    <%= f.check_box :carried, :checked => 'checked' %>
    <%= f.label :carried %>
  </li>
<% end %>
