%tr.nested-fields
  %td
    = character_armor.armor.name
  %td
    %strong= character_armor.armor_model.name if character_armor.armor_model
  %td
    = character_armor.description
  %td
    %span.footable-details-label Soak:
    = character_armor.armor.soak
  %td
    %span.footable-details-label Defense:
    = character_armor.armor.defense
  %td
    %span.footable-details-label Encumbrance:
    = character_armor.armor.encumbrance
  %td
    %span.footable-details-label Rarity:
    = character_armor.armor.rarity
  %td
    - if character_armor.equipped
      = link_to "Equipped", user_character_place_armor_path(current_user, @character, character_armor.id, 'unequip'), :class => 'label success'
    - elsif character_armor.carried
      = link_to "Unequipped", user_character_place_armor_path(current_user, @character, character_armor.id, 'equip'), :class => 'label secondary'
  %td
    - if character_armor.carried
      = link_to "Carried", user_character_place_armor_path(current_user, @character, character_armor.id, 'storage'), :class => 'label success'
    - else
      = link_to "Stored", user_character_place_armor_path(current_user, @character, character_armor.id, 'inventory'), :class => 'label secondary'
  %td
    - unless character_armor.character_armor_attachments.blank?
      %span.footable-details-label Modifications:
      %ul
        - character_armor.character_armor_attachments.each do |caa|
          - unless caa.armor_attachment_id.blank?
            - attachment = ArmorAttachment.find(caa.armor_attachment_id)
            %li
              = attachment.name
              - unless caa.armor_attachment_modification_options.blank?
                %ul
                  - caa.armor_attachment_modification_options.each do |option|
                    - modification_option = ArmorAttachmentModificationOption.find(option)
                    - unless modification_option.talent_id.nil?
                      %li
                        Innate talent:
                        = Talent.find(modification_option.talent_id).name
                    - unless modification_option.skill_id.nil?
                      %li
                        Skill bonus:
                        = Skill.find(modification_option.skill_id).name
  %td
    %span.footable-details-label Total Value:
    = character_armor.total_value
  %td
    = link_to "Modify", user_character_modify_armor_path(current_user, @character, character_armor.id), :class => 'label info'
  %td
    = link_to "Remove", user_character_remove_armor_path(current_user, @character, character_armor.id), :class => 'label alert', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }
