<div class="row">
  <div class="small-12 columns">
    <h1><%=t '.title', :default => "Modifying #{@armor.name}" %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= render :partial => 'characters/character_edit_menu' %>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-3 columns" data-no-turbolink>
    <div class="panel live-stats">
      <% if @character.creation? %>
        <h5><%= image_tag("credit_symbol.png", :class => "credit-icon", :title => "Credits") %> <%= @character.credits %></h5>
      <% else %>
        <div class="row collapse">
          <div class="small-2 columns">
            <span class="prefix radius">
              <label class="inline"><%= image_tag("credit_symbol.png", :class => "credit-icon", :title => "Credits") %></label>
            </span>
          </div>
          <div class="small-10 columns">
            <%= hidden_field_tag 'slug', user_character_path(@character.user, @character) %>
            <%= number_field_tag :character_credits, @character.credits %>
          </div>
        </div>
      <% end %>
      <small>During character generation the cost of items added will be subtracted from your character's starting credits. After activation credits will no longer be automatically updated on item purchase.</small>
    </div>
    <%= form_for :character_armor_attachment do |f| %>
      <% if @armor.hard_points.blank? %>
        <div class="small-12 columns">
          <div data-alert class="alert-box warning round">
            This piece of armor does not have any hard points for attachments.
          </div>
        </div>
      <% else %>
        <%= f.select :armor_attachment_id, ArmorAttachment.where("hard_points <= ?", @armor.hard_points).collect  {|attachment| ["#{attachment.name} - #{attachment.hard_points} hp - price: #{attachment.price}", attachment.id]}, {:prompt => "Select Attachment"} %>
      <% end -%>
      <br />
      <div class="row">
        <div id="attachment-info" class="small-12 columns"></div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <%= f.text_field :custom_name, :value => @character_armor.custom_name, :placeholder => "Give it a name and make it your own." %>
          <%= f.text_area :description, :rows => 10, :value => @character_armor.description, :placeholder => "Write your own description of your armor, such as make and model, color, or anything else that might make this armor personal." %>
          <% unless @armor.armor_models.blank? %>
            <%= f.select :armor_model_id, @armor.armor_models.collect {|model| ["#{model.name}", model.id]}, {:prompt => "Select Model", :selected => @character_armor.armor_model_id} %>
          <% end -%>
          <%= f.submit 'Save changes', :class => 'button tiny' %>
          <%= link_to "Back", user_character_armor_url(current_user, @character), :class => "button secondary tiny" %>
        </div>
      </div>
    </div>
    <div class="small-12 medium-9 columns" data-no-turbolink>
      <h4>Attachments on item <small><%= "#{@armor.hard_points-@hard_points_used} available hard points left out of #{@armor.hard_points}" %></small></h4>
      <div class="row">
        <div class="small-12 columns">
          <div class="progress round <%= @hard_point_meter_class %>">
            <span class="meter" style="text-align: center;width: <%= @hard_point_meter > 100 ? 100 : @hard_point_meter %>%"></span>
          </div>
        </div>
      </div>
      <% unless @armor_attachments.blank? %>
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2" id="item-grid" data-no-turbolink>
          <% @armor_attachments.each do |aa| %>
            <% if aa.armor_attachment_id %>
              <% attachment = ArmorAttachment.find(aa.armor_attachment_id) %>
              <li><%= render :partial => "armor_attachments/armor_attachment_info", :locals => { :attachment => attachment, :character_attachment_id => aa.id, :active => :true, :armor_attachment_options => aa } %></li>
            <% end %>
          <% end -%>
        </ul>
      <% end -%>
    <% end -%>
  </div>
</div>
