.row
  .small-12.columns
    %h1= t '.title', :default => "Manage equipped armor for #{@character.name}"
.row
  .small-12.columns
    = render :partial => 'characters/character_edit_menu'
.row
  .small-12.medium-3.columns
    = render 'characters/character_credits_and_encumbrance'
    = form_for :character_armors do |f|
      .row
        .small-12.columns
          - grouped_options = Array.new
          - ArmorCategory.where(:true).order(:name).each do |cat|
            - grouped_options << [cat.name, Armor.where(:armor_category_id => cat.id).order(:name).collect { |armor| ["#{armor.name}", armor.id]}]
          = f.select :armor_id, grouped_options_for_select(grouped_options), {:prompt => "Select armor"}
      .row
        .small-12.columns
          #item-info
      .row
        .small-6.columns
          = f.check_box :carried, {checked: true}
          = f.label :carried
        .small-6.columns
          = f.check_box :equipped, {checked: false}
          = f.label :equipped
      .row
        .small-12.columns
          = f.submit 'Add Armor', :class => 'button tiny'
  .small-12.medium-9.columns
    .row
      .small-12.columns
        %table.footable
          %thead
            %th{data: {toggle: 'true'}} Item
            %th{data: {hide: 'all'}} Model
            %th{data: {hide: 'all'}} Notes
            %th{data: {hide: 'phone'}} Soak
            %th{data: {hide: 'phone'}} Defense
            %th{data: {hide: 'phone'}} Encumbrance
            %th{data: {hide: 'phone'}} Rarity
            %th{data: {hide: 'phone', sort: {ignore: 'true'}}} Equipped
            %th{data: {hide: 'phone', sort: {ignore: 'true'}}} Carried
            %th{data: {hide: 'all', sort: {ignore: 'true'}}} Attachments
            %th{data: {hide: 'all', sort: {ignore: 'true'}}} Total Value
            %th{data: {hide: 'phone', sort: {ignore: 'true'}}}
            %th{data: {hide: 'phone', sort: {ignore: 'true'}}}
          %tbody#item-grid
            - @character.character_armor.each do |character_armor|
              = render :partial => 'character_armor_row', :locals => { :character_armor => character_armor }
        %caption
          Armor marked <span class="label success">Equipped</span> is worn by the character. Only one piece of armor can be worn at a time. This app will not police the selection, so please make sure only to select one. If you select multiple pieces of armor as equipped then only the first one on the list will regarded as the one actually worn.
          %br/
          Armor marked as <span class="label success">Carried</span> is placed on the character's person and account for in calculating encumbrance.
          %br/
          Armor marked as <span class="label secondary">Stored</span> is owned by the character but located somewhere else such as on the group's ship and is not included in character encumbrance.
