<%- model_class = CharacterArmor -%>
<div class="row">
  <div class="small-12 columns">
    <h1><%=t '.title', :default => "Manage equipped armor for #{@character.name}" %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= render :partial => 'characters/character_edit_menu' %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="panel">
      Check the Equipped check box to mark a piece of armor as worn by the character. Only one piece of armor can be worn at a time. This app will not police the selection, so please make sure only to select one. If you select multiple pieces of armor as equipped then only the first one on the list will regarded as the one actually worn.<br/>
      Check the Carried checkbox to mark an item as placed on the character's person and account for in calculating encumbrance. Leave unchecked if it's an item owned by the character but located somewhere such as on the group's ship. Equipped also counts as carried.
    </div>
  </div>
</div>
<%= form_for @character do |character_form| %>
  <%= character_form.hidden_field :id %>
   <div id="character-armors" class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3" id="item-grid">
        <%= character_form.fields_for :character_armor do |armor| %>
          <%= render 'character_armor_fields', :f => armor %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= link_to_add_association 'Add new armor', character_form, :character_armor, 'data-association-insertion-node' => "#item-grid", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|armor| armor.build_armor; armor }, :class => 'button success small' %>
      <%= hidden_field_tag 'destination', 'armor' %>
      <%= character_form.submit 'Save armor', :class => 'button small' %>
    </div>
  </div>
<% end %>

