<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= title %><%#= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Edge of the Empire", root_path %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
        <% if user_signed_in? %>
          <li class="has-dropdown <% if @parent_page == 'misc' %>active<% end %>">
            <a href="#">Misc.</a>
            <ul class="dropdown">
              <li class="has-dropdown">
                <a href="#">Names</a>
                <ul class="dropdown">
                  <li<% if current_page('human_names') %> class="active"<% end %>><%= link_to "Human names", "/names/human" %></li>
                  <li<% if current_page('bothan_names') %> class="active"<% end %>><%= link_to "Bothan names", "/names/bothan" %></li>
                  <li<% if current_page('rodian_names') %> class="active"<% end %>><%= link_to "Rodian names", "/names/rodian" %></li>
                  <li<% if current_page('trandoshan_names') %> class="active"<% end %>><%= link_to "Trandoshan names", "/names/trandoshan"%></li>
                  <li<% if current_page('twilek_names') %> class="active"<% end %>><%= link_to "Twi'lek names", "/names/twilek" %></li>
                  <li<% if current_page('droid_names') %> class="active"<% end %>><%= link_to "Droid names", "/names/droid" %></li>
                </ul>
              </li>
              <li<% if current_page('rules_summary') %> class="active"<% end %>><%= link_to "Rules Summary", rules_path %></li>
            </ul>
          </li>
          <li class="has-dropdown <% if ['characters', 'new_character'].include?(@page) %>active<% end %>">
            <a href="#">Characters</a>
            <ul class="dropdown">
              <li<% if current_page('characters') %> class="active"<% end %>><%= link_to "My characters", characters_path()  %></li>
              <li<% if current_page('new_character') %> class="active"<% end %>><%= link_to "Create character", new_character_path()  %></li>
            </ul>
          </li>
          <li class="has-dropdown <% if current_page('user') %>active<% end %>">
            <a href="#">Account</a>
            <ul class="dropdown">
              <li<% if current_page('user') %> class="active"<% end %>><%= link_to "Edit profile", "/me" %></li>
              <li><%= link_to "Logout", "/logout" %></li>
            </ul>
          </li>
          <% else %>
            <li><%= link_to "Register", "/register" unless user_signed_in?  %></li>
            <li><%= link_to "Login", "/login" unless user_signed_in?  %></li>
          <% end %>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <% if user_signed_in? %>
          <li<% if current_page('races') %> class="active"<% end %>><%= link_to "Races", races_path  %></li>
          <li<% if current_page('careers') %> class="active"<% end %>><%= link_to "Careers", careers_path  %></li>
          <li<% if current_page('skills') %> class="active"<% end %>><%= link_to "Skills", skills_path  %></li>
          <li<% if current_page('talents') %> class="active"<% end %>><%= link_to "Talents", talents_path  %></li>
          <li class="has-dropdown <% if ['weapons', 'weapon_qualities', 'weapon_attachments', 'armor', 'armor_qualities', 'armor_attachments', 'gear'].include?(@page) %>active<% end %>">
            <a href="#">Equipment</a>
            <ul class="dropdown">
              <li<% if ['weapons', 'weapon_qualities', 'weapon_attachments'].include?(@page) %> class="active"<% end %>><%= link_to "Weapons", weapons_path %></li>
              <li<% if ['armor', 'armor_qualities', 'armor_attachments'].include?(@page) %> class="active"<% end %>><%= link_to "Armor", "/armor" %></li>
              <li<% if current_page('gear') %> class="active"<% end %>><%= link_to "Gear", "/gear"  %></li>
            </ul>
          </li>
          <li<% if current_page('obligations') %> class="active"<% end %>><%= link_to "Obligations", obligations_path  %></li>
          <% end %>
        </ul>
      </section>
    </nav>

    <%= yield %>

    <%= javascript_include_tag "application" %>
  </body>
</html>